.breadcrumbs
    .container
        a(href="/").breadcrumbs__link Главная
        a(href="/").breadcrumbs__link Команда профессионалов

.team
    .container
        .team__title
            span КОМАНДА ПРОФЕССИОНАЛОВ
        .team__wrapper
            p.team__text.team__text--bold.
                Мы всегда можем вам помочь, дать совет или подсказать что-либо.
            p.team__text.
                Для того, чтобы получить подробный ответ, выберите подразделение компании, которому, по вашему мнению, адресован  вопрос. Вы сможете позвонить по указанным номерам, сделать запрос обратного звонка или написать нам.

.container.wrap
    .team__wrapper-block
        .team__img-top
            img(src="img/img-team-1.jpg" alt="")
        p.team__text-paragraph.
            Для оптимизации процесса ремонта автомобиля в СООО «Автосеть» создана программа подготовки специалистов по сервисным услугам (шиномонтажник, мастер, компьютерный диагност и т.д.) с изучением теоретического материала с трехмесячными курсами по усвоению практических навыков. Также регулярно проводятся аттестации на повышение разрядов. Возьмем, к примеру, шиномонтажные услуги: персонал предприятия проходил обучение в НИИ шинной промышленности (г.Москва), в учебном центре «Тритон-Мастер» (г.Москва, технологии шиномонтажных работ, ремонт шин материалами «RemaTip-Top»), на заводе по восстановлению шин «Domar» (Польша), в sp.z.o.o Swistowski (Польша, ремонт шин материалами «Maruni»), в sp.z.o.oTip-Topol (Польша, работа на шиномонтажном оборудовании, ремонт шин материалами «Rema Tip-Top»).
        .team__many-img
            div
                img(src="img/img-team-2.jpg" alt="")
            div
                img(src="img/img-team-3.jpg" alt="")
            div
                img(src="img/img-team-4.jpg" alt="")
        p.team__text-paragraph.
            В современном мире даже самый грамотный специалист не является гарантом качества выполняемых работ без правильной организации процессов (технологии) и профессионального технологического оборудования. Специалисты по развитию сервиса постоянно проводят целенаправленные действия по организации рабочего места, ведут работу по оптимизации инструментов, обеспечивают бесперебойное, максимально быстрое и качественное обслуживание и сервис. На каждый вид работ (<span class="team__text-paragraph--red">замена масляного фильтра, полировка фар, балансировка колес</span> и т.д) разработан утвержденный технологический процесс, который позволяет выполнить услугу в полном объеме, с применением высокопроизводительного оборудования и инструмента, максимально быстро удовлетворить потребности заказчика.
        p.team__text-paragraph.
            После выполнения сервисных работ оформляется документ (помимо кассового чека), в котором указываются выполненные работы, их стоимость и использованные материалы. Именно этот документ является гарантийным обязательством, а также подтверждает, что предприятие осуществляет свою деятельность на законных основаниях.
        p.team__text-paragraph.
            Если Вы хотите выразить благодарность компании, либо возникли спорные моменты касательно качества выполненных услуг, вы всегда можете оставить информацию на сайте в разделе «контроль качества». Компания в кратчайшие сроки рассматривает все обращения клиентов.

.team__structure
    .container.wrap
        .team__structure-title Наименование структурного подразделения
        .team__structure-block
            .team__structure-item.team__structure-item--phone
                a(href="tel:+375448888888").team__structure-item__tel +375 44 888 88 88
                a(href="tel:+375449999999").team__structure-item__tel +375 44 999 99 99
                span.team__structure-item__text Стоимость звонка зависит от тарифов вашего оператора
            .team__structure-item.team__structure-item--other
                a(href="#").team__structure-item__link
                    .team__structure-item__link--ico.team__structure-item__link--phone
                        +icon("ico-team-phone")
                    span Запрос обратного звонка
            .team__structure-item.team__structure-item--other
                a(href="#").team__structure-item__link
                    .team__structure-item__link--ico.team__structure-item__link--list
                        +icon("ico-team-list")
                    span Обращение к специалистам
.team__photo
    .container.wrap
        .team__photo-wrapper.team__photo-wrapper--small
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский

.team__structure
    .container.wrap
        .team__structure-title Наименование структурного подразделения
        .team__structure-block
            .team__structure-item.team__structure-item--phone
                a(href="tel:+375448888888").team__structure-item__tel +375 44 888 88 88
                a(href="tel:+375449999999").team__structure-item__tel +375 44 999 99 99
                span.team__structure-item__text Стоимость звонка зависит от тарифов вашего оператора
            .team__structure-item.team__structure-item--other
                a(href="#").team__structure-item__link
                    .team__structure-item__link--ico.team__structure-item__link--phone
                        +icon("ico-team-phone")
                    span Запрос обратного звонка
            .team__structure-item.team__structure-item--other
                a(href="#").team__structure-item__link
                    .team__structure-item__link--ico.team__structure-item__link--list
                        +icon("ico-team-list")
                    span Обращение к специалистам
.team__photo
    .container.wrap
        .team__photo-wrapper.team__photo-wrapper--big
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
            .team__photo-item
                .team__photo-img
                    img(src="" alt="")
                div
                    span.team__photo-text Константин
                    span.team__photo-text Константинопольский
