.breadcrumbs
    .container
        a(href="/").breadcrumbs__link Главная
        a(href="/").breadcrumbs__link Медия

.media-company
    .container.wrap
        .media-company__title
            span МЕДИА
            .media-company__option-wrapper
                a(href="#gallery").media-company__option.scrollto Галерея
                a(href="#exibition").media-company__option.scrollto Выставки
        .media-company__wrapper
            p.media-company__text.media-company__text--bold.
                Тезисное маркетинговое описание раздела.
            p.media-company__text.
                Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.

.container.wrap
    .media-company__item
        span.media-company__item__title#gallery Галерея
        .media-company__subitem-wrapper
            a(href="#").media-company__subitem
                .media-company__subitem__img
                    img(src="img/img-media-gallery-1.jpg" alt="")
                .media-company__subitem__info
                    span.media-company__subitem__title НАШИ МАГАЗИНЫ
                    span.media-company__subitem__subtitle Краткое тезисное описание.
                    span.media-company__subitem__text Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.

            a(href="#").media-company__subitem.odd
                .media-company__subitem__img
                    img(src="img/img-media-gallery-2.jpg" alt="")
                .media-company__subitem__info
                    span.media-company__subitem__title НАШ СЕРВИС
                    span.media-company__subitem__subtitle Краткое тезисное описание.
                    span.media-company__subitem__text Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.

            a(href="#").media-company__subitem
                .media-company__subitem__img
                    img(src="img/img-media-gallery-3.jpg" alt="")
                .media-company__subitem__info
                    span.media-company__subitem__title наш склад
                    span.media-company__subitem__subtitle Краткое тезисное описание.
                    span.media-company__subitem__text Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.

            a(href="#").media-company__subitem.odd
                .media-company__subitem__img
                    img(src="img/img-media-gallery-4.jpg" alt="")
                .media-company__subitem__info
                    span.media-company__subitem__title колл-центр
                    span.media-company__subitem__subtitle Краткое тезисное описание.
                    span.media-company__subitem__text Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.

            a(href="#").media-company__subitem
                .media-company__subitem__img
                    img(src="img/img-media-gallery-5.jpg" alt="")
                .media-company__subitem__info
                    span.media-company__subitem__title наш офис
                    span.media-company__subitem__subtitle Краткое тезисное описание.
                    span.media-company__subitem__text Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.

        span.media-company__item__title#exibition выставки
        .media-company__exhibition
            a(href="#").media-company__exhibition__item
                .media-company__exhibition__img
                    img(src="img/img-media-exibition-1.jpg" alt="")
                .media-company__exhibition__text-wrapper
                    span.media-company__exhibition__title Моторшоу-2015
                    span.media-company__exhibition__subtitle Краткое тезисное описание
                    span.media-company__exhibition__text Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.
            a(href="#").media-company__exhibition__item
                .media-company__exhibition__img
                    img(src="img/img-media-exibition-2.jpg" alt="")
                .media-company__exhibition__text-wrapper
                    span.media-company__exhibition__title Дрифт
                    span.media-company__exhibition__subtitle Краткое тезисное описание
                    span.media-company__exhibition__text Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.
            a(href="#").media-company__exhibition__item
                .media-company__exhibition__img
                    img(src="img/img-media-exibition-3.jpg" alt="")
                .media-company__exhibition__text-wrapper
                    span.media-company__exhibition__title Конференции
                    span.media-company__exhibition__subtitle Краткое тезисное описание
                    span.media-company__exhibition__text Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.
            a(href="#").media-company__exhibition__item
                .media-company__exhibition__img
                    img(src="img/img-media-exibition-4.jpg" alt="")
                .media-company__exhibition__text-wrapper
                    span.media-company__exhibition__title Наименование
                    span.media-company__exhibition__subtitle Краткое тезисное описание
                    span.media-company__exhibition__text Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться. Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.
            a(href="#").media-company__exhibition__item
                .media-company__exhibition__img
                    img(src="img/img-media-exibition-5.jpg" alt="")
                .media-company__exhibition__text-wrapper
                    span.media-company__exhibition__title Наименование
                    span.media-company__exhibition__subtitle Краткое тезисное описание
                    span.media-company__exhibition__text Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.
            a(href="#").media-company__exhibition__item
                .media-company__exhibition__img
                    img(src="img/img-media-exibition-6.jpg" alt="")
                .media-company__exhibition__text-wrapper
                    span.media-company__exhibition__title Наименование
                    span.media-company__exhibition__subtitle Краткое тезисное описание
                    span.media-company__exhibition__text Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться. Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.


