.breadcrumbs
    .container
        a(href="/").breadcrumbs__link Главная
        a(href="/").breadcrumbs__link Карьера у нас

.career-company
    .container.wrap
        span.career-company__title КАРЬЕРА В КОМПАНИИ АВТОСЕТЬ
        .career-company__wrapper
            p.career-company__text.career-company__text--bold.
                В связи с постоянным расширением штата, компания создает резервный банк резюме специалистов.
            p.career-company__text.
                Если вы хотите предложить свою кандидатуру, вышлите резюме на электронную почту или заполните анкету.
            p.career-company__text.
                В резюме необходимо указать на какую должность вы претендуете.

.container.wrap
    .career-resume
        span.career-resume__text
            | Адрес электронной почты для отправки резюме:&nbsp;
            a(href="mailto:kadry@autoset.by").career-resume__link kadry@autoset.by
        span.career-resume__text
            a(href="#").career-resume__link Анкета
            |  для электронного заполнения

    .career-vacancy
        .career-vacancy__title Актуальные вакансии СООО «Автосеть» по регионам:
        .career-vacancy__town
            .career-vacancy__item-title Минск
            .career-vacancy__item-wrapper
                .career-vacancy__subitem
                    span.career-vacancy__who Шиномонтажник
                    .career-vacancy__infoblock
                        .career-vacancy__spec
                            span.career-vacancy__infoblock-title Основные обязанности:
                            span.career-vacancy__infoblock-text обязанность 1, обязанность 2, обязанность 3, обязанность 4.
                            span.career-vacancy__infoblock-title Краткие требования:
                            span.career-vacancy__infoblock-text требование 1, требование 2, требование 3.
                            span.career-vacancy__infoblock-title Будет преимуществом:
                            span.career-vacancy__infoblock-text навык 1, навык 2, навык 3, навык 4.
                        .career-vacancy__contact
                            a(href="#").career-vacancy__contact__text
                                span.career-vacancy__contact__icon.career-vacancy__contact__icon--mail
                                    +icon("ico-email")
                                span отправить резюме
                            a(href="#").career-vacancy__contact__text
                                span.career-vacancy__contact__icon.career-vacancy__contact__icon--anket
                                    +icon("ico-career-anket")
                                span заполнить анкету
        .career-vacancy__town
            .career-vacancy__item-title Гродно
            .career-vacancy__item-wrapper
                .career-vacancy__subitem
                    span.career-vacancy__who Специалист по продажам
                    .career-vacancy__infoblock
                        .career-vacancy__spec
                            span.career-vacancy__infoblock-title Основные обязанности:
                            span.career-vacancy__infoblock-text обязанность 1, обязанность 2, обязанность 3, обязанность 4.
                            span.career-vacancy__infoblock-title Краткие требования:
                            span.career-vacancy__infoblock-text требование 1, требование 2, требование 3.
                            span.career-vacancy__infoblock-title Будет преимуществом:
                            span.career-vacancy__infoblock-text навык 1, навык 2, навык 3, навык 4.
                        .career-vacancy__contact
                            a(href="#").career-vacancy__contact__text
                                span.career-vacancy__contact__icon.career-vacancy__contact__icon--mail
                                    +icon("ico-email")
                                span отправить резюме
                            a(href="#").career-vacancy__contact__text
                                span.career-vacancy__contact__icon.career-vacancy__contact__icon--anket
                                    +icon("ico-career-anket")
                                span заполнить анкету

                .career-vacancy__subitem
                    span.career-vacancy__who Автослесарь
                    .career-vacancy__infoblock
                        .career-vacancy__spec
                            span.career-vacancy__infoblock-title Основные обязанности:
                            span.career-vacancy__infoblock-text обязанность 1, обязанность 2, обязанность 3, обязанность 4.
                            span.career-vacancy__infoblock-title Краткие требования:
                            span.career-vacancy__infoblock-text требование 1, требование 2, требование 3.
                            span.career-vacancy__infoblock-title Будет преимуществом:
                            span.career-vacancy__infoblock-text навык 1, навык 2, навык 3, навык 4.
                        .career-vacancy__contact
                            a(href="#").career-vacancy__contact__text
                                span.career-vacancy__contact__icon.career-vacancy__contact__icon--mail
                                    +icon("ico-email")
                                span отправить резюме
                            a(href="#").career-vacancy__contact__text
                                span.career-vacancy__contact__icon.career-vacancy__contact__icon--anket
                                    +icon("ico-career-anket")
                                span заполнить анкету

    .career-bottom-text
        span Мы всегда рады трудолюбивым и порядочным профессионалам своего дела.
        span Присоединяйтесь к команде Автосеть!






