.breadcrumbs
    .container
        a(href="/").breadcrumbs__link Главная
        a(href="/").breadcrumbs__link Информация для покупателя

.helper.helper__bg-img
    .container.helper__container-md
        .helper__container
            span.helper__title Информация для покупателя
    .container.wrap.helper__container-md
        .helper__wrapper
            p.helper__text.
                Здесь собраны ссылки на основные разделы, содержащие информацию о правилах покупки, оплаты и доставки, условиях гарантии и рассрочки, а также полезные утилиты, справочники, сравнительные тесты и публикации, которые помогут вам лучше ориентироваться в мире автомобильных шин, аккумуляторов и выбрать наиболее подходящие товары.


.helper__info
    .container.helper__container-md
        .helper__info__wrapper
            .helper__info__item.helper__info__item--menu
                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-1
                            +icon("ico-helper-menu-1")
                    span.helper__menu-item__text Бесплатная доставка

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-2
                            +icon("ico-helper-menu-2")
                    span.helper__menu-item__text Доставка по адресу

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-3
                            +icon("ico-helper-menu-3")
                    span.helper__menu-item__text Доставка 24 ч. в обл. центры

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-4
                            +icon("ico-helper-menu-4")
                    span.helper__menu-item__text Доставка к сервису

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-5
                            +icon("ico-helper-menu-5")
                    span.helper__menu-item__text Оплата

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-6
                            +icon("ico-helper-menu-6")
                    span.helper__menu-item__text Дисконтные карты

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-7
                            +icon("ico-helper-menu-7")
                    span.helper__menu-item__text Рассрочка

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-8
                            +icon("ico-helper-menu-8")
                    span.helper__menu-item__text Возврат

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-9
                            +icon("ico-helper-menu-9")
                    span.helper__menu-item__text Гарантия АВТОСЕТЬ

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-10
                            +icon("ico-helper-menu-10")
                    span.helper__menu-item__text Гарантия 2 года

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-11
                            +icon("ico-helper-menu-11")
                    span.helper__menu-item__text Гарантия 5 лет

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-12
                            +icon("ico-helper-menu-12")
                    span.helper__menu-item__text Гарантия от производителя

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-13
                            +icon("ico-helper-menu-13")
                    span.helper__menu-item__text Специальная гарантия

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-14
                            +icon("ico-helper-menu-14")
                    span.helper__menu-item__text Частые вопросы

                a(href="#").helper__menu-item
                    .helper__menu-item__img
                        .helper__menu-item__ico.helper__menu-item__ico--icon-15
                            +icon("ico-helper-menu-15")
                    span.helper__menu-item__text Правила покупки

            .helper__info__item.helper__info__item--news
                .helper__news-item
                    a(href="#").helper__news-item__link
                        .helper__news-item__img
                            .helper__news-item__ico.helper__news-item__ico--icon-1
                                +icon("ico-helper-news-1")
                        .helper__news-item__text-wrap
                            span.helper__news-item__title Новости
                            span.helper__news-item__text Будьте всегда в курсе событий в мире шин, колёсных дисков и аккумуляторов вместе с Автосетью

                .helper__news-item.helper__news-item--inside
                    span.helper__news-item__subtitle В помощь автовладельцу:
                    a(href="#").helper__news-item__link.helper__news-item__link--inside
                        .helper__news-item__img
                            .helper__news-item__ico.helper__news-item__ico--icon-2
                                +icon("ico-helper-news-2")
                        .helper__news-item__text-wrap
                            span.helper__news-item__title.helper__news-item__title--small Тесты шин
                            span.helper__news-item__text Публикации актуальных <br>и популярных тестов <br>автомобильных шин

                    a(href="#").helper__news-item__link.helper__news-item__link--inside
                        .helper__news-item__img
                            .helper__news-item__ico.helper__news-item__ico--icon-3
                                +icon("ico-helper-news-3")
                        .helper__news-item__text-wrap
                            span.helper__news-item__title.helper__news-item__title--small Шинный калькулятор
                            span.helper__news-item__text Удобное средство для определения характеристик автомобиля при установке шин определённого типогразмера

                    a(href="#").helper__news-item__link.helper__news-item__link--inside
                        .helper__news-item__img
                            .helper__news-item__ico.helper__news-item__ico--icon-4
                                +icon("ico-helper-news-4")
                        .helper__news-item__text-wrap
                            span.helper__news-item__title.helper__news-item__title--small Вопросы экспертам
                            span.helper__news-item__text Задайте технический вопрос по шинам или аккумуляторам нашим экспертам

                    a(href="#").helper__news-item__link.helper__news-item__link--inside
                        .helper__news-item__img
                            .helper__news-item__ico.helper__news-item__ico--icon-5
                                +icon("ico-helper-news-5")
                        .helper__news-item__text-wrap
                            span.helper__news-item__title.helper__news-item__title--small Полезно знать
                            span.helper__news-item__text Калькуляторы, <br>индексы, таблицы <br>соответствия

                .helper__news-item
                    a(href="#").helper__news-item__link
                        .helper__news-item__img
                            .helper__news-item__ico.helper__news-item__ico--icon-6
                                +icon("ico-helper-news-6")
                        .helper__news-item__text-wrap
                            span.helper__news-item__title.helper__news-item__title--big Сеть магазинов <br>и автосервисов
                            span.helper__news-item__text Посетите наши торгово-сервисные центры в Минске, Бресте, Витебске, Гомеле, Могилёве, Бобруйске






