.container.wrap
    .index
        a(href="about_us_careers.html") about_us_careers
        a(href="about_us_media.html") about_us_media
        a(href="about_us_team.html") about_us_team
        a(href="about_us_testimonials.html") about_us_testimonials
        a(href="contacts.html") contacts
        a(href="helper.html") helper
        a(href="news.html") news
        a(href="news-autonews.html") news-autonews
        a(href="news-company-news.html") news-company-news
        a(href="service-singin.html") service-singin
        a(href="service-singmore.html") service-singmore
        a(href="service-works.html") service-works