.breadcrumbs
    .container
        a(href="/").breadcrumbs__link Главная
        a(href="/").breadcrumbs__link Информация для покупателя
        a(href="/").breadcrumbs__link Новости
        a(href="/").breadcrumbs__link Автоновости

.autonews
    .container
        .autonews__container
            span.autonews__title автоновости
    .container
        .autonews__wrapper
            p.autonews__text.
                Будьте всегда в курсе событий в мире шин, колёсных дисков и аккумуляторов вместе с Автосетью. Мы неустанно следим за происходящим в автомире  и с радостью поделимся этой информацией с вами.

.autonews__block
    .container.wrap
        .autonews__info
            a(href="#").autonews__item
                .autonews__date
                    .autonews__day
                        span 21
                    span.autonews__mounth июня
                span.autonews__news-title Инженеры разработали дешёвый датчик для измерения глубины протектора
                .autonews__news-wrap
                    .autonews__img-wrap
                        img(src="img/img-news-autonews-1.png" alt="")
                    .autonews__text-block
                        span.autonews__news-text Группа инженеров-электриков из Университета Дьюка (Северная Каролина, США) изобрела недорогой датчик, который в реальном времени контролирует глубину протектора автомобильных шин. Он незамедлительно предупредит водителя о возникшей опасности, если остаточная глубина преодолеет минимально допустимую отметку.
                        .autonews__news-link
                            object
                                a(href="#") читать полностью

            a(href="#").autonews__item
                .autonews__date
                    .autonews__day
                        span 21
                    span.autonews__mounth июня
                span.autonews__news-title Firestone FS818 – всепозиционная грузовая шина для асфальта и лёгкого бездорожья
                .autonews__news-wrap
                    .autonews__img-wrap
                        img(src="img/img-news-autonews-2.png" alt="")
                    .autonews__text-block
                        span.autonews__news-text Американское подразделение Bridgestone представило новую грузовую шину Firestone FS818. Как отдельно упоминает производитель, это долговечное решение для движения по шоссе и за его пределами. Второе преимущество шины – универсальность. Она может быть установлена на любую ось автомобиля: рулевую, ведущую или прицепную.
                        .autonews__news-link
                            object
                                a(href="#") читать полностью

            a(href="#").autonews__item
                .autonews__date
                    .autonews__day
                        span 19
                    span.autonews__mounth июня
                span.autonews__news-title «Нижнекамскшина» представила отчёт за 2016 год
                .autonews__news-wrap
                    .autonews__img-wrap
                        img(src="img/img-news-autonews-3.png" alt="")
                    .autonews__text-block
                        span.autonews__news-text 16 июня ПАО «Нижнекамскшина» провело общее годовое собрание акционеров, на котором были подведены итоги деятельности предприятия в 2016 году. С докладом выступил главный инженер завода Айдар Беляев. В своём выступлении г-н Беляев отметил, что фактический выпуск составил 8,771 млн шин.
                        .autonews__news-link
                            object
                                a(href="#") читать полностью

            a(href="#").autonews__item
                .autonews__date
                    .autonews__day
                        span 13
                    span.autonews__mounth июня
                span.autonews__news-title Pirelli присоединилась к проекту Infiniti Project Black S
                .autonews__news-wrap
                    .autonews__img-wrap
                        img(src="img/img-news-autonews-4.png" alt="")
                    .autonews__text-block
                        span.autonews__news-text 12 мая состоялся седьмой этап чемпионата мира «Формулы-1» сезона 2017 – Гран-при Канады. В рамках мероприятия стало известно, что компания Pirelli разработает шины для концептуального спортивного автомобиля Infiniti Project Black S.
                        .autonews__news-link
                            object
                                a(href="#") читать полностью

            a(href="#").autonews__item
                .autonews__date
                    .autonews__day
                        span 13
                    span.autonews__mounth июня
                span.autonews__news-title Nokian запустила пилотный проект по получению каучука из гваюлы
                .autonews__news-wrap
                    .autonews__img-wrap
                        img(src="img/img-news-autonews-5.png" alt="")
                    .autonews__text-block
                        span.autonews__news-text Как сообщают испанские СМИ, Nokian Tyres разбила экспериментальную плантацию по выращиванию гваюлы – второго по значению источника натурального каучука. Проект стартовал неподалёку от города Санта-Крус-де-ла-Сарса (провинция Толедо) на землях, принадлежащих одному из местных фермеров.
                        .autonews__news-link
                            object
                                a(href="#") читать полностью

            a(href="#").autonews__item
                .autonews__date
                    .autonews__day
                        span 12
                    span.autonews__mounth июня
                span.autonews__news-title Millbrook Group значительно модернизирует тестовый полигон Test World
                .autonews__news-wrap
                    .autonews__img-wrap
                        img(src="img/img-news-autonews-6.png" alt="")
                    .autonews__text-block
                        span.autonews__news-text Millbrook Group, ведущая британская научно-испытательная организация, объявила о масштабном расширении автомобильного полигона Test World в Финляндии. Как ожидают в компании, после модернизации Test World станет ведущей площадкой для тестирования шин в Европе.
                        .autonews__news-link
                            object
                                a(href="#") читать полностью

    .container
        .page-pagination__wrapper.page-pagination__wrapper--white
            a(href="#").page-pagination__navigation.page-pagination__navigation--prev.hidden
                +icon("ico-arrow-right-grey")
            a(href="#").active 1
            a(href="#") 2
            a(href="#") 3
            a(href="#").other ...
            a(href="#") 5
            a(href="#").page-pagination__navigation
                +icon("ico-arrow-right-grey")








