.breadcrumbs
    .container
        a(href="/").breadcrumbs__link Главная
        a(href="/").breadcrumbs__link Услуги автосервиса

.service-works.service-works__bg-img
    .container.wrap.service-works__container-md
        .service-works__container
            .service-works__title
                span Услуги автосервиса
            .service-works__wrapper
                p.service-works__text.service-works__text--bold.
                    Тезисное маркетинговое описание раздела.
                p.service-works__text.
                    Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться.

.service-works__block
    .container.wrap.service-works__container-md
        .service-works__block-wrapper
            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-1.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Компьютерная диагностика <br>электронных систем <br>управления автомобилем

            .service-works__item.action
                .service-works__item-img
                    img(src="img/img-service-work-2.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Регулировка <br>света фар

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-3.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Комплексная подготовка <br>автомобиля <br>к дальним путешествиям

            .service-works__item.action
                .service-works__item-img
                    img(src="img/img-service-work-4.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Замена <br>масла

            .service-works__item.action
                .service-works__item-img
                    img(src="img/img-service-work-5.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Геометрия колёс <br>(сход/развал)

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-6.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Пакет услуг «Комфорт» <br>и «Комфорт плюс»

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-7.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Диагностика эффективности <br>тормозной системы на стенде

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-8.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Замена дисковых тормозных <br>колодок (передняя ось)

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-9.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Замена аккумулятора

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-10.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Полировка фар

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-11.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Обслуживание кондиционеров <br>легковых и грузовых <br>автомобилей

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-12.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Накачка шин азотом <br>с вакуумированием

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-13.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Дезинфекция испарителя <br>кондиционера озонатором

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-14.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Диагностика АКБ и <br>эл.оборудования автомобиля

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-15.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Балансировка колес

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-16.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Шиномонтаж <br>(монтаж/демонтаж шин)

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-17.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Ремонт шины

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-18.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Замена охлаждающей <br>жидкости

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-19.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Утилизация шин

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-20.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Шиномонтаж и ремонт <br>сельскохозяйственных <br>и индустриальных колес

            .service-works__item
                .service-works__item-img
                    img(src="img/img-service-work-21.jpg" alt="")
                .service-works__item-text-wrap
                    span.service-works__item-text Сезонное <br>хранение шин

.service-works__record
    .container
        .service-works__record-wrapper
            a(href="#").service-works__record-link Записаться на автосервис


.service-works__quiality
    .container.wrap
        .service-works__form
            span.service-works__form-title Напишите нам о качестве сервисного обслуживания:
            .service-works__form-block
                form#service-works-form
                    label(for="form-select").service-works__form-label.service-works__form-label--select
                        span.service-works__form-text Кому
                        select(name="form-select" id="form-select")
                            option(value="1") Отдел развития розничной сети
                            option(value="2") Отдел развития розничной сети 2
                            option(value="3") Отдел развития розничной сети 3
                            option(value="4") Отдел развития розничной сети 4
                    label(for="form-from").service-works__form-label
                        span.service-works__form-text Имя
                            span.service-works__form-rule &nbsp;*
                        input(type="text" id="form-from" name="name").service-works__form-input
                    label(for="form-email").service-works__form-label
                        span.service-works__form-text Эл. почта
                            span.service-works__form-rule &nbsp;*
                        input(type="email" id="form-email" name="email").service-works__form-input
                    label(for="form-tel").service-works__form-label
                        span.service-works__form-text Телефон
                        input(type="tel" id="form-tel").service-works__form-input.phone-input
                    .service-works__textarea-wrapper
                        label(for="form-text").service-works__form-label
                            span.service-works__form-text.service-works__form-text--textarea Сообщение
                                span.service-works__form-rule &nbsp;*
                            textarea(id="form-text" name="text").service-works__form-textarea
                    input(type="submit" value="Отправить").service-works__form-submit

