.breadcrumbs
    .container
        a(href="/").breadcrumbs__link Главная
        a(href="/").breadcrumbs__link Запись на сервис
        a(href="/").breadcrumbs__link Запись на легковой сервис

.service-singmore
    .container
        .service-singmore__tabs
            span(data-tab="tab1").service-singin__tabs-btn.service-singmore__tabs-btn.js-service-tabs-btn.active Легковой сервис
            span(data-tab="tab2").service-singin__tabs-btn.service-singmore__tabs-btn.js-service-tabs-btn Грузовой сервис
    .service-singmore__tabs-wrapper
        .container.wrap
            .service-singmore__tab
                .service-singmore__tab-img
                    img(src="img/img-service-phone.png" alt="")
                .service-singmore__form.service-singin__form.active#service-tab1
                    form#service-singmore-form-1
                        label(for="form-select-service-1").service-singmore__form-label.service-singmore__form-label--select
                            span.service-singmore__form-text Город
                            select(name="form_select_service_1" id="form-select-service-1")
                                option(value="1" disabled="disabled" selected="selected") Выберите город
                                option(value="2") Брест
                                option(value="3") Гродно
                                option(value="4") Минск

                        label(for="form-select-service-2").service-singmore__form-label.service-singmore__form-label--select
                            span.service-singmore__form-text Услуга
                            select(name="form_select_service_2" id="form-select-service-2")
                                option(value="1" disabled="disabled" selected="selected") Выберите услугу
                                option(value="2") Услуга 1
                                option(value="3") Услуга 2
                                option(value="4") Услуга 3

                .service-singmore__form.service-singin__form#service-tab2
                    form#service-singmore-form-2
                        label(for="form-select-service-21").service-singmore__form-label.service-singmore__form-label--select
                            span.service-singmore__form-text Город
                            select(name="form_select_service_21" id="form-select-service-21")
                                option(value="1" disabled="disabled" selected="selected") Выберите город
                                option(value="2") Брест
                                option(value="3") Гродно
                                option(value="4") Минск

                        label(for="form-select-service-22").service-singmore__form-label.service-singmore__form-label--select
                            span.service-singmore__form-text Услуга
                            select(name="form_select_service_22" id="form-select-service-22")
                                option(value="1" disabled="disabled" selected="selected") Выберите услугу
                                option(value="2") Услуга 1
                                option(value="3") Услуга 2
                                option(value="4") Услуга 3

                .service-singmore__attention
                    span.
                        <span class="red-text"><b>Внимание:</b></span> помимо записи в очередь через сайт, на наших сервисах
                        имеется возможность обслужиться по <b>«живой» очереди.</b>

.singmore-calendar
    .container.wrap.singmore-calendar__container
        .singmore-calendar__wrapper
            .singmore-calendar__item.singmore-calendar__item--calendar
                span.singmore-calendar__title Шиномонтаж
                span.singmore-calendar__adress г. Брест ул. Янки Купалы, 19
                a(href="#").singmore-calendar__onmap.js-showonmap показать на карте
                    +icon("ico-singmore-map")
                .singmore-calendar__calendar#service-calendar

            .singmore-calendar__item.singmore-calendar__item--times
                .singmore-calendar__icons
                    span.singmore-calendar__icons__text.times-grey занято
                    span.singmore-calendar__icons__text.times-green свободно
                .singmore-calendar__times-wrap
                    a(href="#").singmore-calendar__times-item.js-time 08:00
                    a(href="#").singmore-calendar__times-item.js-time 08:20
                    a(href="#").singmore-calendar__times-item.js-time 08:40
                    a(href="#").singmore-calendar__times-item.js-time 09:00

                    a(href="#").singmore-calendar__times-item.js-time 09:20
                    a(href="#").singmore-calendar__times-item.js-time 09:40
                    a(href="#").singmore-calendar__times-item.js-time.active 10:00
                    a(href="#").singmore-calendar__times-item.js-time 10:20

                    a(href="#").singmore-calendar__times-item.js-time 10:40
                    a(href="#").singmore-calendar__times-item.js-time 11:00
                    a(href="#").singmore-calendar__times-item.js-time 11:20
                    a(href="#").singmore-calendar__times-item.js-time 11:40

                    a(href="#").singmore-calendar__times-item.js-time 12:00
                    a(href="#").singmore-calendar__times-item.js-time 12:20
                    a(href="#").singmore-calendar__times-item.js-time 12:40
                    a(href="#").singmore-calendar__times-item.js-time.active 13:00

                    a(href="#").singmore-calendar__times-item.js-time.active 13:20
                    a(href="#").singmore-calendar__times-item.js-time.active 13:40
                    a(href="#").singmore-calendar__times-item.js-time.active.current 14:00
                    a(href="#").singmore-calendar__times-item.js-time.actvie 14:20

                    a(href="#").singmore-calendar__times-item.js-time.active 14:40
                    a(href="#").singmore-calendar__times-item.js-time.active 15:00
                    a(href="#").singmore-calendar__times-item.js-time.active 15:20
                    a(href="#").singmore-calendar__times-item.js-time.active 15:40

                    a(href="#").singmore-calendar__times-item.js-time 16:00
                    a(href="#").singmore-calendar__times-item.js-time.active 16:20
                    a(href="#").singmore-calendar__times-item.js-time.active 16:40
                    a(href="#").singmore-calendar__times-item.js-time.active 17:00

                    a(href="#").singmore-calendar__times-item.js-time.active 17:20
                    a(href="#").singmore-calendar__times-item.js-time.active 17:40
                    a(href="#").singmore-calendar__times-item.js-time 18:00
                    a(href="#").singmore-calendar__times-item.js-time 18:20

                    a(href="#").singmore-calendar__times-item.js-time.active 18:40
                    a(href="#").singmore-calendar__times-item.js-time.active 19:00
                    a(href="#").singmore-calendar__times-item.js-time.active 19:20
                    a(href="#").singmore-calendar__times-item.js-time.active 19:40

                    a(href="#").singmore-calendar__times-item.js-time.active 20:00
                    a(href="#").singmore-calendar__times-item.js-time.active 20:20
                    a(href="#").singmore-calendar__times-item.js-time 20:40
                    a(href="#").singmore-calendar__times-item

                span.singmore-calendar__btn Продолжить запись



.overlay
.popup-onmap
    .popup-close.js-close-popup
        +icon("ico-close-popup")
    span.popup-onmap__title Торгово-сервисный центр г. Брест, ул. Янки Купалы
    .popup-onmap__wrapper
        .popup-onmap__img
            img(src="img/img-popup-pict.jpg" alt="")
        .popup-onmap__info
            .popup-onmap__tel
                span.popup-onmap__info-title Телефоны:
                .popup-onmap__phone
                    .popup-onmap__phone-icon
                        +icon("ico-phone")
                    a(href="tel:+375162406880").popup-onmap__phone-link +375 (162) 40-68-80

                .popup-onmap__phone
                    .popup-onmap__phone-icon
                        +icon("ico-velcom")
                    a(href="tel:+375293300700").popup-onmap__phone-link +375 (29) 3-300-700

                .popup-onmap__phone
                    .popup-onmap__phone-icon
                        +icon("ico-mts")
                    a(href="tel:+375295200700").popup-onmap__phone-link +375 (29) 5-200-700

            .popup-onmap__work
                span.popup-onmap__info-title Режим работы:
                .popup-onmap__work-wrapper
                    span.popup-onmap__work-text.popup-onmap__work-text--grey пн-сб:&nbsp;
                    span.popup-onmap__work-text 8:00 - 21:00
                .popup-onmap__work-wrapper
                    span.popup-onmap__work-text.popup-onmap__work-text--grey ВС:&nbsp;
                    span.popup-onmap__work-text 9:00 - 18:00

            a(href="#").popup-onmap__spec Специальные цены на услуги сервиса <br>Комплексная подготовка автомобиля к лету

            .popup-onmap__gps
                span.popup-onmap__info-title Координаты GPS:
                span.popup-onmap__gps-text 52°6′31″N
                span.popup-onmap__gps-text 23°44′52.6″E
    .popup-onmap__map-wrapper
        span.popup-onmap__info-title Расположение на карте:
        .popup-onmap__map#popup-map

    .popup-onmap__information
        .popup-onmap__information-item
            span.popup-onmap__information-title Продажа:
            span.popup-onmap__information-text шины для легковых, легкогрузовых, внедорожников и грузовых автомобилей;
            span.popup-onmap__information-text диски для легковых, легкогрузовых, внедорожников и грузовых автомобилей;
            span.popup-onmap__information-text аккумуляторы для легковых и грузовых автомобилей;
            span.popup-onmap__information-text крепёжные элементы: болты, гайки, шпильки, секретки, центровочные кольца;
            span.popup-onmap__information-text автозапчасти;
            span.popup-onmap__information-text масла, фильтры;
            span.popup-onmap__information-text технические жидкости;
            span.popup-onmap__information-text автохимия;
            span.popup-onmap__information-text автоаксессуары;
            span.popup-onmap__information-text детские автокресла;
            span.popup-onmap__information-text ключи, наборы инструментов;
            span.popup-onmap__information-text колесные колпаки.

        .popup-onmap__information-item
            span.popup-onmap__information-title Услуги:
            span.popup-onmap__information-text шиномонтаж легкового и грузового авто;
            span.popup-onmap__information-text балансировка колес;
            span.popup-onmap__information-text ремонт шины;
            span.popup-onmap__information-text развал-схождение (регулировка углов установки колёс);
            span.popup-onmap__information-text замена масла, фильтров;
            span.popup-onmap__information-text замена и проверка охлаждающей жидкости, замена системы охлаждения;
            span.popup-onmap__information-text заправка и дезинфекция кондиционеров;
            span.popup-onmap__information-text замена и диагностика аккумулятора;
            span.popup-onmap__information-text компьютерная диагностика автомобиля;
            span.popup-onmap__information-text ремонт электрооборудования;
            span.popup-onmap__information-text диагностика и ремонт подвески;
            span.popup-onmap__information-text замена выхлопной системы;
            span.popup-onmap__information-text ремонт и замена тормозной системы;
            span.popup-onmap__information-text замена клиновых и ручейковых ремней;
            span.popup-onmap__information-text чистка ЕГР;
            span.popup-onmap__information-text сезонное хранение шин;


script(defer="", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb2OuKaE3NLGJyzXymywkKFfWv-7Enx9E&callback=initMapPopup")