.breadcrumbs
    .container.wrap
        a(href="/").breadcrumbs__link Главная
        a(href="/").breadcrumbs__link Акции и специальные предложения

.offersHead
    .offersHead__red
        .container
            .offersHead__wrap
                .offersHead__mainImg
                    img(src="./img/img-offers-text.png")
                .offersHead__links
                    a(herf="#").offersHead__link товары
                    a(herf="#").offersHead__link сервис
                    a(herf="#").offersHead__link конкурсы
                .offersHead__wheel
                    img(src="./img/img-offers-share.png")
    .offersHead__white
        .container
            .offersHead__textWrap
                .offersHead__text
                    .offersHead__textTitle Краткое маркетинговое описание раздела.
                    |Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться. Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться. Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться. 

.offersTires
    .container.wrap.wrapMdOFF
        .offersTires__title ПРЕДЛОЖЕНИЯ НА САЙТЕ:
        .offersTires__itemsWrap
            .offersTires__item(style="background-image: url(./img/img-offers-wheelBg.png);")
                .offersTires__itemHead
                    .offersTires__itemTitle Зимняя акция
                    .offersTires__itemTimer
                        .offersTires__timerLabel предложение действительно:
                        div(data-time="Sep 24, 2017 15:38:25").offersTires__timerBlock.js-offersTimer
                            .offersTires__timerItem
                                .offersTires__timerTime.js-offersDays 23
                                .offersTires__timerType дн.
                            .offersTires__timerItem
                                .offersTires__timerTime.js-offersHours 21
                                .offersTires__timerType ч.
                            .offersTires__timerItem
                                .offersTires__timerTime.js-offersMinutes 29
                                .offersTires__timerType мин.
                .offersTires__itemInner
                        .offersTires__textWhite Встречай снег с
                        img(src="./img/img-offers-wheelLogo.png", alt="#")
                .offersTires__itemProd
                    img(src="./img/img-offers-wheel.png", alt="#")
                .offersTires__itemFooter.clearfix
                    //- span.offersTires__itemName
                    .offersTires__footerRight
                        span.offersTires__itemPrice 
                            |от
                            span 70.99 р
                        a(href="#").offersTires__btn Показать предложения
                span.offersTires__whiteFooter
            .offersTires__item(style="background-image: url(./img/img-offers-wheelBg-2.png);")
                .offersTires__itemHead
                    .offersTires__itemTitle Зимняя акция
                    .offersTires__itemTimer
                        .offersTires__timerLabel предложение действительно:
                        div(data-time="Sep 17, 2017 15:38:25").offersTires__timerBlock.js-offersTimer
                            .offersTires__timerItem
                                .offersTires__timerTime.js-offersDays 23
                                .offersTires__timerType дн.
                            .offersTires__timerItem
                                .offersTires__timerTime.js-offersHours 21
                                .offersTires__timerType ч.
                            .offersTires__timerItem
                                .offersTires__timerTime.js-offersMinutes 29
                                .offersTires__timerType мин.
                .offersTires__itemInner
                        .offersTires__textWhiteBig Все на трек!
                        .offersTires__textWhiteSmall Спортивные шины по отличным ценам
                .offersTires__itemProd
                    img(src="./img/img-offers-wheel-2.png", alt="#")
                .offersTires__itemFooter.clearfix
                    .offersTires__footerRight
                        a(href="#").offersTires__btn Показать предложения
            .offersTires__item
                .offersTires__itemHead
                    .offersTires__itemTitle Зимняя акция
                    .offersTires__itemTimer
                        .offersTires__timerLabel предложение действительно:
                        div(data-time="Oct 5, 2017 15:38:25").offersTires__timerBlock.js-offersTimer
                            .offersTires__timerItem
                                .offersTires__timerTime.js-offersDays 23
                                .offersTires__timerType дн.
                            .offersTires__timerItem
                                .offersTires__timerTime.js-offersHours 21
                                .offersTires__timerType ч.
                            .offersTires__timerItem
                                .offersTires__timerTime.js-offersMinutes 29
                                .offersTires__timerType мин.
                .offersTires__itemInner
                        .offersTires__textColors
                            span.offerRed Клема? 
                            span.offerBlue — Норм!
                .offersTires__itemProd
                    img(src="./img/img-offers-wheel-3.png", alt="#")
                .offersTires__itemFooter.clearfix
                    span.offersTires__itemName Аккумуляторы KLEMA Norm
                    .offersTires__footerRight
                        span.offersTires__itemPrice 
                            |от
                            span 70.99 р
                        a(href="#").offersTires__btn Показать предложения
                span.offersTires__whiteFooter
            .offersTires__item.offersTires__item--big
                .offersTires__itemHead
                    .offersTires__itemTitle Зимняя акция
                    .offersTires__itemTimer
                        .offersTires__timerLabel 
                            span.notimerLabel на всё лето (01.06–01.09)
                .offersTires__itemInner
                        .offersTires__textColors
                            span.offerRed Клема? 
                            span.offerBlue — Норм!
                .offersTires__itemProd
                    img(src="./img/img-offers-wheel-4.png", alt="#")
                .offersTires__itemFooter.clearfix
                    span.offersTires__itemName Шины премиум-класса (А) 195/65 R15
                    .offersTires__footerRight
                        span.offersTires__itemPrice 
                            |от
                            span 133.99 р
                        a(href="#").offersTires__btn Показать предложения
                span.offersTires__whiteFooter

.offersShop
    .container.wrap
        .offersShop__title ПРЕДЛОЖЕНИЯ В ТОРГОВО-СЕРВИСНЫХ ЦЕНТРАХ:
        .offersShop__wrap
            .offersShop__item
                .offersShop__label 5л
                .offersShop__img
                    img(src="./img/img-offers-prod-1.png")
                .offersShop__info
                    .offersShop__name МАСЛО МОТОРНОЕ
                    .offersShop__type Favorit Super SG SAE 10-W40
                    .offersShop__price
                        .offersShop__priceOld
                            span 22.72 р.
                        .offersShop__priceNew 18.99 р.
                    .offersShop__btnWrap
                        a(href="#").offersShop__btn Где Купить?
            .offersShop__item
                .offersShop__img
                    img(src="./img/img-offers-prod-2.png")
                .offersShop__info
                    .offersShop__name ЗНАК АВАРИЙНОЙ ОСТАНОВКИ
                    .offersShop__type пластиково-металлический
                    .offersShop__price
                        .offersShop__priceOld 
                            span 7.87 р.
                        .offersShop__priceNew 6.99 р.
                    .offersShop__btnWrap
                        a(href="#").offersShop__btn Где Купить?
            .offersShop__item
                .offersShop__label 4.7л
                .offersShop__img
                    img(src="./img/img-offers-prod-3.png")
                .offersShop__info
                    .offersShop__name ЖИДКОСТЬ СТЕКЛООМЫВАТЕЛЯ
                    .offersShop__type “Блик” летний 4,7 л
                    .offersShop__price
                        .offersShop__priceOld
                            span 3.42 р.
                        .offersShop__priceNew 2.77 р.
                    .offersShop__btnWrap
                        a(href="#").offersShop__btn Где Купить? 
            .offersShop__item
                .offersShop__label 4.7л
                .offersShop__img
                    img(src="./img/img-offers-prod-4.png")
                .offersShop__info
                    .offersShop__name ЖИДКОСТЬ СТЕКЛООМЫВАТЕЛЯ
                    .offersShop__type “Блик” летний 4,7 л
                    .offersShop__price 
                        .offersShop__priceOld 
                            span 3.42 р.
                        .offersShop__priceNew 2.77 р.
                    .offersShop__btnWrap
                        a(href="#").offersShop__btn Где Купить?
            .offersShop__item
                .offersShop__label 5л
                .offersShop__img
                    img(src="./img/img-offers-prod-1.png")
                .offersShop__info
                    .offersShop__name МАСЛО МОТОРНОЕ
                    .offersShop__type Favorit Super SG SAE 10-W40
                    .offersShop__price
                        .offersShop__priceOld
                            span 22.72 р.
                        .offersShop__priceNew 18.99 р.
                    .offersShop__btnWrap
                        a(href="#").offersShop__btn Где Купить?
            .offersShop__item
                .offersShop__img
                    img(src="./img/img-offers-prod-2.png")
                .offersShop__info
                    .offersShop__name ЗНАК АВАРИЙНОЙ ОСТАНОВКИ
                    .offersShop__type пластиково-металлический
                    .offersShop__price
                        .offersShop__priceOld 
                            span 7.87 р.
                        .offersShop__priceNew 6.99 р.
                    .offersShop__btnWrap
                        a(href="#").offersShop__btn Где Купить?
            .offersShop__item
                .offersShop__label 4.7л
                .offersShop__img
                    img(src="./img/img-offers-prod-3.png")
                .offersShop__info
                    .offersShop__name ЖИДКОСТЬ СТЕКЛООМЫВАТЕЛЯ
                    .offersShop__type “Блик” летний 4,7 л
                    .offersShop__price
                        .offersShop__priceOld
                            span 3.42 р.
                        .offersShop__priceNew 2.77 р.
                    .offersShop__btnWrap
                        a(href="#").offersShop__btn Где Купить? 
            .offersShop__item
                .offersShop__label 4.7л
                .offersShop__img
                    img(src="./img/img-offers-prod-4.png")
                .offersShop__info
                    .offersShop__name ЖИДКОСТЬ СТЕКЛООМЫВАТЕЛЯ
                    .offersShop__type “Блик” летний 4,7 л
                    .offersShop__price 
                        .offersShop__priceOld 
                            span 3.42 р.
                        .offersShop__priceNew 2.77 р.
                    .offersShop__btnWrap
                        a(href="#").offersShop__btn Где Купить?

.offersHead
    .offersHead__red
        .container
            .offersHead__wrap
                .offersHead__mainText СПЕЦПРЕДЛОЖЕНИЯ АВТОСЕРВИСА
                .offersHead__links
                    a(herf="#").offersHead__link Брест
                    a(herf="#").offersHead__link Гродно
                .offersHead__share
                    img(src="./img/img-offers-share-2.png")
                .offersHead__inst
                    img(src="./img/img-offers-inst.png")
    .offersHead__white
        .container
            .offersHead__textWrap.offersHead__textWrap--indent
                .offersHead__text
                    .offersHead__textTitle Краткое маркетинговое описание раздела.
                    |Подробное описание. Часть текста, подробно описывающая какой-либо смысловой блок, пункт, подпункт. Назначение может варьироваться. 
                    .offersHead__textLink
                        |Вы можете записаться на
                        a(href="#") автосервис в удобное время


.offersWorks
    .container.wrap
        .offersWorks__title 
            .offersWorks__titleBlack В Бресте
            div Торгово-сервисный центр АВТОСЕТЬ, ул. Янки Купалы, 19   
        .offersWorks__wrap
            .offersWorks__item
                .offersWorks__itemTop
                    .offersWorks__itemImg
                        img(src="./img/img-offers-work-1.png" data-object-fit="cover")
                    .offersWorks__itemName Компьютерная диагностика электронных систем управления автомобилем
                .offersWorks__itemBottom
                    .offersWorks__itemDate до 15.08.2017
                    .offersWorks__itemPrice
                        .offersWorks__priceOld
                            |старая цена:
                            span 32.40 р
                        .offersWorks__priceNew
                            |новая цена:
                            span 22.90 р
            .offersWorks__item
                .offersWorks__itemTop
                    .offersWorks__itemImg
                        img(src="./img/img-offers-work-2.png" data-object-fit="cover")
                    .offersWorks__itemName Компьютерная диагностика электронных систем управления автомобилем
                .offersWorks__itemBottom
                    .offersWorks__itemDate до 15.08.2017
                    .offersWorks__itemPrice
                        .offersWorks__priceOld
                            |старая цена:
                            span 32.40 р
                        .offersWorks__priceNew
                            |новая цена:
                            span 22.90 р
            .offersWorks__item
                .offersWorks__itemTop
                    .offersWorks__itemImg
                        img(src="./img/img-offers-work-1.png" data-object-fit="cover")
                    .offersWorks__itemName Компьютерная диагностика электронных систем управления автомобилем
                .offersWorks__itemBottom
                    .offersWorks__itemDate до 15.08.2017
                    .offersWorks__itemPrice
                        .offersWorks__priceOld
                            |старая цена:
                            span 32.40 р
                        .offersWorks__priceNew
                            |новая цена:
                            span 22.90 р
            .offersWorks__item
                .offersWorks__itemTop
                    .offersWorks__itemImg
                        img(src="./img/img-offers-work-2.png" data-object-fit="cover")
                    .offersWorks__itemName Компьютерная диагностика электронных систем управления автомобилем
                .offersWorks__itemBottom
                    .offersWorks__itemDate до 15.08.2017
                    .offersWorks__itemPrice
                        .offersWorks__priceOld
                            |старая цена:
                            span 32.40 р
                        .offersWorks__priceNew
                            |новая цена:
                            span 22.90 р
            .offersWorks__item
                .offersWorks__itemTop
                    .offersWorks__itemImg
                        img(src="./img/img-offers-work-1.png" data-object-fit="cover")
                    .offersWorks__itemName Компьютерная диагностика электронных систем управления автомобилем
                .offersWorks__itemBottom
                    .offersWorks__itemDate до 15.08.2017
                    .offersWorks__itemPrice
                        .offersWorks__priceOld
                            |старая цена:
                            span 32.40 р
                        .offersWorks__priceNew
                            |новая цена:
                            span 22.90 р
        .offersWorks__title 
            .offersWorks__titleBlack В Бресте
            div Торгово-сервисный центр АВТОСЕТЬ, ул. Янки Купалы, 19   
        .offersWorks__wrap
            .offersWorks__item
                .offersWorks__itemTop
                    .offersWorks__itemImg
                        img(src="./img/img-offers-work-1.png" data-object-fit="cover")
                    .offersWorks__itemName Компьютерная диагностика электронных систем управления автомобилем
                .offersWorks__itemBottom
                    .offersWorks__itemDate до 15.08.2017
                    .offersWorks__itemPrice
                        .offersWorks__priceOld
                            |старая цена:
                            span 32.40 р
                        .offersWorks__priceNew
                            |новая цена:
                            span 22.90 р
            .offersWorks__item
                .offersWorks__itemTop
                    .offersWorks__itemImg
                        img(src="./img/img-offers-work-2.png" data-object-fit="cover")
                    .offersWorks__itemName Компьютерная диагностика электронных систем управления автомобилем
                .offersWorks__itemBottom
                    .offersWorks__itemDate до 15.08.2017
                    .offersWorks__itemPrice
                        .offersWorks__priceOld
                            |старая цена:
                            span 32.40 р
                        .offersWorks__priceNew
                            |новая цена:
                            span 22.90 р
            .offersWorks__item
                .offersWorks__itemTop
                    .offersWorks__itemImg
                        img(src="./img/img-offers-work-1.png" data-object-fit="cover")
                    .offersWorks__itemName Компьютерная диагностика электронных систем управления автомобилем
                .offersWorks__itemBottom
                    .offersWorks__itemDate до 15.08.2017
                    .offersWorks__itemPrice
                        .offersWorks__priceOld
                            |старая цена:
                            span 32.40 р
                        .offersWorks__priceNew
                            |новая цена:
                            span 22.90 р
            .offersWorks__item
                .offersWorks__itemTop
                    .offersWorks__itemImg
                        img(src="./img/img-offers-work-2.png" data-object-fit="cover")
                    .offersWorks__itemName Компьютерная диагностика электронных систем управления автомобилем
                .offersWorks__itemBottom
                    .offersWorks__itemDate до 15.08.2017
                    .offersWorks__itemPrice
                        .offersWorks__priceOld
                            |старая цена:
                            span 32.40 р
                        .offersWorks__priceNew
                            |новая цена:
                            span 22.90 р
            .offersWorks__item
                .offersWorks__itemTop
                    .offersWorks__itemImg
                        img(src="./img/img-offers-work-1.png" data-object-fit="cover")
                    .offersWorks__itemName Компьютерная диагностика электронных систем управления автомобилем
                .offersWorks__itemBottom
                    .offersWorks__itemDate до 15.08.2017
                    .offersWorks__itemPrice
                        .offersWorks__priceOld
                            |старая цена:
                            span 32.40 р
                        .offersWorks__priceNew
                            |новая цена:
                            span 22.90 р
            .offersWorks__item
                .offersWorks__itemTop
                    .offersWorks__itemImg
                        img(src="./img/img-offers-work-1.png" data-object-fit="cover")
                    .offersWorks__itemName Компьютерная диагностика электронных систем управления автомобилем
                .offersWorks__itemBottom
                    .offersWorks__itemDate до 15.08.2017
                    .offersWorks__itemPrice
                        .offersWorks__priceOld
                            |старая цена:
                            span 32.40 р
                        .offersWorks__priceNew
                            |новая цена:
                            span 22.90 р