.breadcrumbs
    .container
        a(href="/").breadcrumbs__link Главная
        a(href="/").breadcrumbs__link Легковые шины
        a(href="/").breadcrumbs__link Goodyear
        a(href="/").breadcrumbs__link EfficientGrip Performance
        a(href="/").breadcrumbs__link 225/45 R17 94W

.prodCard
    .container.wrap.wrapMdOFF
        .prodCard__wrap
            .prodCard__left
                .prodCard__name GOODYEAR
                .prodCard__model EfficientGrip Performance
                .prodCard__code 225/45 R17 94 W
                .prodCard__bigSlider
                    .prodCard__bigSliderWrap.js-prodBigSlider
                        .prodCard__bigSliderItem
                            img(src="./img/img-prod-bigSliderImg.jpg", alt="#",data-object-fit="contain")
                            a(href="#").prodCard__videoBtn
                                img(src="./img/img-prod-videoBtn.png")
                                span Видео
                        .prodCard__bigSliderItem
                            img(src="./img/img-prod-bigSliderImg-2.jpg", alt="#",data-object-fit="contain")
                    .prodCard__weatherImg.js-hint
                        .hint-block.hint-block--weather
                            span.hint-small-text.
                                Сезонность:
                            span.hint-small-text.
                                Летняя (всесезонная)
                        img(src="./img/img-prod-sun.png", alt="#")
                    .prodCard__classImg.js-hint
                        span модель класса
                        span.prodCard__prodClass A+
                        .hint-block.hint-block--class
                            .hint-block--class__block
                                span.hint-block--class__fz22 Класс модели
                                .hint-block__text-left
                                    span.hint-block--class__fz24.hint-block--class__mark A+
                                    span.hint-block--class__fz24 Премиум-плюс
                                .hint-block--class__level
                                    .hint-block--class__level--wrapper
                                        .hint-block--class__item.class-1
                                            span.hint-block--class__triangle
                                            span.hint-block--class__name УЛЬТРА-ПРЕМИУМ
                                            span.hint-block--class__name-mark A++
                                    .hint-block--class__level--wrapper
                                        span.hint-block--class__info A+
                                        .hint-block--class__item.class-2
                                            span.hint-block--class__triangle
                                            span.hint-block--class__name ПРЕМИУМ ПЛЮС
                                            span.hint-block--class__name-mark A+
                                    .hint-block--class__level--wrapper
                                        .hint-block--class__item.class-3
                                            span.hint-block--class__triangle
                                            span.hint-block--class__name ПРЕМИУМ
                                            span.hint-block--class__name-mark A
                                    .hint-block--class__level--wrapper
                                        .hint-block--class__item.class-4
                                            span.hint-block--class__triangle
                                            span.hint-block--class__name.hint-block--class__name--black СТАНДАРТ ПЛЮС
                                            span.hint-block--class__name-mark B+
                                    .hint-block--class__level--wrapper
                                        .hint-block--class__item.class-5
                                            span.hint-block--class__triangle
                                            span.hint-block--class__name.hint-block--class__name--black СТАНДАРТ
                                            span.hint-block--class__name-mark B
                                    .hint-block--class__level--wrapper
                                        .hint-block--class__item.class-6
                                            span.hint-block--class__triangle
                                            span.hint-block--class__name.hint-block--class__name--black ЭКОНОМ-ПЛЮС
                                            span.hint-block--class__name-mark C+
                                    .hint-block--class__level--wrapper
                                        .hint-block--class__item.class-7
                                            span.hint-block--class__triangle
                                            span.hint-block--class__name.hint-block--class__name--black ЭКОНОМ
                                            span.hint-block--class__name-mark C
                                    .hint-block--class__level--wrapper
                                        .hint-block--class__item.class-8
                                            span.hint-block--class__triangle
                                            span.hint-block--class__name.hint-block--class__name--black БЮДЖЕТ
                                            span.hint-block--class__name-mark D

                            a(href="#") Описание классификаций
                .prodCard__smallSlider
                    .prodCard__smallSliderWrap.js-prodSmallSlider
                        .prodCard__smallSliderItem
                            img(src="./img/img-prod-bigSliderImg.jpg", alt="#", data-object-fit="contain")
                        .prodCard__smallSliderItem
                            img(src="./img/img-prod-bigSliderImg-2.jpg", alt="#", data-object-fit="contain")
                .prodCard__types.js-hint.hint.js-hint-block-width
                    .prodCard__typeItem
                        .prodCard__typeImg
                            img(src="./img/img-prod-type-1.png", alt="#")
                        span.prodCard__typeCode C
                    .prodCard__typeItem
                        .prodCard__typeImg
                            img(src="./img/img-prod-type-2.png", alt="#")
                        span.prodCard__typeCode A
                    .prodCard__typeItem
                        .prodCard__typeImg
                            img(src="./img/img-prod-type-3.png", alt="#")
                        span.prodCard__typeCode 69dB
                    .hint-block.hint-block--types.js-hint-width
                        .hint-block__etic
                            span.hint-block__etic-title Евроэтикетка
                            .hint-block__etic-block
                                .hint-block__etic-item.hint-block__etic-item--ef1
                                    .hint-block__epic-big-border.hint-block__epic-big-border--left
                                        .hint-block__svg.hint-block__svg--good
                                            +icon("ico-good-weather")
                                    .hint-block__epic-level
                                        .hint-block__lvl-wrap
                                            .hint-block__lvl.hint-block__lvl--a
                                                span a
                                            .hint-block__lvl-class
                                                span a
                                        .hint-block__lvl-wrap
                                            .hint-block__lvl.hint-block__lvl--b
                                                span b
                                            .hint-block__lvl-class
                                                span b
                                        .hint-block__lvl-wrap
                                            .hint-block__lvl.hint-block__lvl--c
                                                span c
                                            .hint-block__lvl-class.active
                                                span c
                                        .hint-block__lvl-wrap
                                            .hint-block__lvl.hint-block__lvl--d
                                                span d
                                            .hint-block__lvl-class
                                                span d
                                        .hint-block__lvl-wrap
                                            .hint-block__lvl.hint-block__lvl--e
                                                span e
                                            .hint-block__lvl-class
                                                span e
                                        .hint-block__lvl-wrap
                                            .hint-block__lvl.hint-block__lvl--f
                                                span f
                                            .hint-block__lvl-class
                                                span f
                                        .hint-block__lvl-wrap
                                            .hint-block__lvl.hint-block__lvl--g
                                                span g
                                            .hint-block__lvl-class
                                                span g






                                .hint-block__etic-item.hint-block__etic-item--ef2
                                    .hint-block__epic-big-border
                                        .hint-block__svg.hint-block__svg--rain
                                            +icon("ico-rain")
                                    .hint-block__epic-level
                                        .hint-block__lvl-wrap.hint-block__lvl-wrap--2
                                            .hint-block__lvl2
                                                span a
                                            .hint-block__lvl-class.active
                                                span a
                                        .hint-block__lvl-wrap.hint-block__lvl-wrap--2
                                            .hint-block__lvl2
                                                span b
                                            .hint-block__lvl-class
                                                span b
                                        .hint-block__lvl-wrap.hint-block__lvl-wrap--2
                                            .hint-block__lvl2
                                                span c
                                            .hint-block__lvl-class
                                                span c
                                        .hint-block__lvl-wrap.hint-block__lvl-wrap--2
                                            .hint-block__lvl2
                                                span d
                                            .hint-block__lvl-class
                                                span d
                                        .hint-block__lvl-wrap.hint-block__lvl-wrap--2
                                            .hint-block__lvl2
                                                span e
                                            .hint-block__lvl-class
                                                span e
                                        .hint-block__lvl-wrap.hint-block__lvl-wrap--2
                                            .hint-block__lvl2
                                                span f
                                            .hint-block__lvl-class
                                                span f
                                        .hint-block__lvl-wrap.hint-block__lvl-wrap--2
                                            .hint-block__lvl2
                                                span g
                                            .hint-block__lvl-class
                                                span g
                                .hint-block__noise
                                    .hint-block__noise--bigborder
                                        .hint-block__noise-ico
                                            +icon("ico-noise")
                                        .hint-block__noise-lvl#noise-lvl-1.active
                                            +icon("es_low")
                                        .hint-block__noise-lvl#noise-lvl-2
                                            +icon("es_medium")
                                        .hint-block__noise-lvl#noise-lvl-3
                                            +icon("es_high")
                                        .hint-block__noise-lvl#noise-lvl-4
                                            +icon("es_full")
                                    .hint-block__noise--smallborder
                                        .hint-block__noise--small-wrapper
                                            span 69
                                            span dB
                                    .hint-block__flat
                                        +icon("ico-es-flat")
                                        span 1222/2009 –
                                            b С1

                        .hint-block__etic-info
                            .hint-block__etic-info-item
                                .hint-block__etic-info-title
                                    +icon("ico-good-weather")
                                    span Топливная эффективность
                                span.hint-block__etic-info-text.
                                    Топливная эффективность оценивается цветовым диапазоном от максимально экономичного класса «А» до наименее экономного класса «G». При определённых условиях разница в расходе топлива между классами «А» и «G» составляет более 6 литров топлива на каждой тысяче километров. Немаловажно, что покрышки «зелёного» класса более дружелюбны к окружающей среде.

                            .hint-block__etic-info-item
                                .hint-block__etic-info-title.hint-block__etic-info-title--rain
                                    +icon("ico-rain")
                                    span Сцепление с мокрой дорогой
                                span.hint-block__etic-info-text.
                                    Сила сцепления оценивается длиной тормозного пути при резком торможении на мокрой дороге. Разница между наиболее высоким классом «A» и самым низким классом «F» на скорости 80 км/ч равняется 18 метрам. Необходимо учитывать, что неудовлетворительное состояние дорожного полотна ещё больше увеличивает тормозной путь.

                            .hint-block__etic-info-item
                                .hint-block__etic-info-title.hint-block__etic-info-title--noise
                                    +icon("ico-noise")
                                    span Уровень <br>шума
                                span.hint-block__etic-info-text.
                                    Величина наружного шума шин оценивается в децибелах, а также маркируется графическим указателем. Одна чёрная волна – наиболее тихие покрышки, две – умеренно тихие, а три – предельно шумная резина. Разницами между соседними волнами составляет 3 дБ, что приравнивается к двукратному приросту в уровне шума. Установка тихих покрышек уменьшает звуковую нагрузку на городскую среду.



                .prodCard__compare
                    input(type="checkbox" id="compare")
                    label(for="compare").prodCard__compareCheck Сравнить
            .prodCard__right
                .prodCard__options
                    .prodCard__option.js-hint.hint
                        .prodCard__optionImg
                            //- img(src="./img/img-prod-option-1.png", alt="#")
                            span 
                                +icon('ico-helper-menu-1')
                        .prodCard__optionText Бесплатная доставка
                        .hint-block.hint-block--free
                            span.hint-small-text.
                                Доставка шин в магазины "Автосеть" осуществляется бесплатно.
                                Стоимость доставки в любой другой город составляет 12 руб.
                    .prodCard__option.js-hint.hint
                        .prodCard__optionImg
                            //- img(src="./img/img-prod-option-2.png", alt="#")
                            span 
                                +icon('ico-helper-menu-10')
                        .prodCard__optionText Гарантия 2 года
                        .hint-block.hint-block--garanty
                            span.hint-small-text.
                                На все шины действует заводская гарантия 2 года.

                    .prodCard__option.js-hint.hint
                        .prodCard__optionImg
                            //- img(src="./img/img-prod-option-3.png", alt="#")
                            span 
                                +icon('ico-helper-menu-7')
                        .prodCard__optionText Рассрочка до 6 месяцев
                        .hint-block.hint-block--installment
                            span.hint-small-text.
                                Рассрочка без переплат до 6 месяцев!
                            br
                            a(href="#").hint-small-text.
                                Подробнее о рассрочке

                .prodCard__prices
                    .prodCard__oldPrice
                        span.prodCard__oldPriceLabel цена
                            span.prodCard__question.js-hint ?
                                .hint-block.hint-block--price
                                    span.hint-title.
                                        СТОИМОСТЬ ТОВАРА БЕЗ СКИДКИ
                                    span.hint-small-text.
                                        Товар можно оплатить картами рассрочки – "Халва", "Карты покупок", "Черепаха", "SMART Карта". Также можно оформить рассрочку под 0% на срок до 6 месяцев. Более подробную информацию об условиях рассрочки читайте в карточке товара.
                        span.span.prodCard__oldPriceNumber 209.50
                        | р.
                    .prodCard__newPrice
                        span.prodCard__newPriceLabel цена со скидкой
                            span.prodCard__question.js-hint ?
                                .hint-block.hint-block--price.hint-block--price2
                                    span.hint-title.
                                        ЦЕНА СО СКИДКОЙ
                                    span.hint-small-text.
                                        Товар можно оплатить наличными деньгами или пластиковой карточкой в белорусских рублях в момент получения заказа или по предоплате с помощью системы интернет-банкинг, электронных денег, банкомата, через кассу любого банка.
                        span.prodCard__newPriceNumber 184.36
                        |р.
                form(action="")
                    .prodCard__capacity
                        .prodCard__capacityInput
                            span Количество:
                            select(name="form_select_product" id="form-select-product").prodCard__capacitySelect
                                    option(value="1" selected="selected") 4
                                    option(value="2") 1
                                    option(value="3") 2
                                    option(value="5") 8
                        .prodCard__capacityStock
                            span В наличии:
                            |более 10 шт.
                    .prodCard__orderBlock
                        .prodCard__orderPrice
                            .prodCard__orderPriceText
                                |цена за 
                                span 4 шт.
                                |со скидкой:
                            .prodCard__orderPriceNumber
                                span 737.44
                                |р.
                        a(href="#").prodCard__orderBtn КУПИТЬ
                ul.prodCard__infoList
                    li.prodCard__infoItem
                        .prodCard__infoName Сезонность:
                        .prodCard__infoValue Летняя
                    li.prodCard__infoItem
                        .prodCard__infoName Протектор/Вес
                        .prodCard__infoValue A+ (Премиум Плюс)
                    li.prodCard__infoItem
                        .prodCard__infoName Индекс нагрузки:
                        .prodCard__infoValue 94 (до 670 кг)
                    li.prodCard__infoItem
                        .prodCard__infoName Показатель нагрузки на 4 колеса:
                        .prodCard__infoValue до 2680 кг
                    li.prodCard__infoItem
                        .prodCard__infoName Индекс нагрузки:
                        .prodCard__infoValue W (до 270 км/ч)
                    li.prodCard__infoItem
                        .prodCard__infoName Протектор / вес:
                        .prodCard__infoValue 7,5 мм / 8 кг
                    li.prodCard__infoItem
                        .prodCard__infoName Рисунок протектора:
                        .prodCard__infoValue Асимметричный направленный
                    li.prodCard__infoItem
                        .prodCard__infoName Преимущественное покрытие:
                        .prodCard__infoValue 100% асфальт 0% бездорожье
                    li.prodCard__infoItem
                        .prodCard__infoName Производство:
                        .prodCard__infoValue Германия
                    li.prodCard__infoItem
                        .prodCard__infoName Защита диска:
                        .prodCard__infoValue Нет
                    li.prodCard__infoItem
                        .prodCard__infoName Маркировка M+S:
                        .prodCard__infoValue Нет
                    li.prodCard__infoItem
                        .prodCard__infoName Маркировка All seasons:
                        .prodCard__infoValue Нет
                .prodCard__made
                    .prodCard__madeLabel Изготовитель (оригинал):
                    .prodCard__madeBy
                        div Goodyear Dunlop Tires Germany Gmbh. 
                        div Konzernsitz und Werk Hanau. 
                        div Dunlopstr. 2 63450 Hanau Germany

        a(href="#").prodCard__backBtn Вернуться к результатам подбора

.prodInfo
    .container.wrap.wrapMdOFF
        .prodInfo__tabs
            .prodInfo__tabsTitle Дополнительная информация о товаре
            ul.prodInfo__tabsLine
                li.prodInfo__tabItem.active.js-prodTab Описание
                li.prodInfo__tabItem.js-prodTab Доставка
                li.prodInfo__tabItem.js-prodTab Оплат
                li.prodInfo__tabItem.js-prodTab Рассрочка
                li.prodInfo__tabItem.js-prodTab Гарантия
                li.prodInfo__tabItem.js-prodTab Класс модели
                li.prodInfo__tabItem.js-prodTab Отзывы
            .prodInfo__tabsBlocks
                .prodInfo__tabBlock.js-prodTabBlock.active
                    p.prodInfo__tabPar Летние шины <span>Goodyear EfficientGrip Performance</span> имеют высшую оценку за торможение на мокром асфальте согласно европейской маркировке. Вместе с тем очень хороши и другие свойства шины, например, сцепление с сухим дорожным полотном, скорость переставки, следование курсу и расход топлива. Это подтверждают первые строчки и призовые места в ряде тестов, проведённых европейскими автомобильными экспертами. Специалисты как один рекомендуют шину всем автовладельцам, которые заботятся о безопасности и комфорте.
                    .prodInfo__tabOptions
                        .prodInfo__optionsTitle Технические особенности протектора Goodyear EfficientGrip Performance:
                        ul.prodInfo__optionsList
                            li.prodInfo__tabOption Вместительные дренажные колодцы в центральной зоне отводят воду из пятна контакта за мгновение.
                            li.prodInfo__tabOption Крупные боковые блоки удерживают устойчивость автомобиля при прохождении сложных поворотов.

                    .prodInfo__tabSlogan Goodyear – премиальный бред из числа лучших шинных компаний.
                
                .prodInfo__tabBlock.js-prodTabBlock
                    p.prodInfo__tabPar Летние шины <span>Goodyear EfficientGrip Performance</span> асфальте согласно европейской маркировке. Вместе с тем очень хороши и другие свойства шины, например, сцепление с сухим дорожным полотном, скорость переставки, следование курсу и расход топлива. Это подтверждают первые строчки и призовые места в ряде тестов, проведённых европейскими автомобильными экспертами. Специалисты как один рекомендуют шину всем автовладельцам, которые заботятся о безопасности и комфорте.
                    .prodInfo__tabOptions
                        .prodInfo__optionsTitle Технические особенности протектора Goodyear EfficientGrip Performance:
                        ul.prodInfo__optionsList
                            li.prodInfo__tabOption Вместительные дренажные колодцы в центральной зоне отводят воду из пятна контакта за мгновение.
                            li.prodInfo__tabOption Крупные боковые блоки удерживают устойчивость автомобиля при прохождении сложных поворотов.

                    .prodInfo__tabSlogan Goodyear – премиальный бред из числа лучших шинных компаний.
                
                .prodInfo__tabBlock.js-prodTabBlock
                    p.prodInfo__tabPar Летние шины <span>Goodyear EfficientGrip Performance</span> имеют высшую оценку за торможение на мокром асфальте согласно европейской маркировке. Вместе с тем очень хороши и другие свойства шины, например, сцепление с сухим дорожным полотном, скорость переставки, следование курсу и расход топлива. Это подтверждают первые строчки и призовые места в ряде тестов, проведённых европейскими автомобильными экспертами. Специалисты как один рекомендуют шину всем автовладельцам, которые заботятся о безопасности и комфорте.
                    .prodInfo__tabOptions
                        .prodInfo__optionsTitle Технические особенности протектора Goodyear EfficientGrip Performance:
                        ul.prodInfo__optionsList
                            li.prodInfo__tabOption Вместительные дренажные колодцы в центральной зоне отводят воду из пятна контакта за мгновение.

                    .prodInfo__tabSlogan Goodyear – премиальный бред из числа лучших шинных компаний.
                
                .prodInfo__tabBlock.js-prodTabBlock
                    p.prodInfo__tabPar Летние шины <span>Goodyear EfficientGrip Performance</span> имеют высшую оценку за торможение на мокром асфальте согласно европейской маркировке. Вместе с тем очень хороши и другие свойства шины, например, сцепление с сухим дорожным полотном, скорость переставки, следование курсу и расход топлива. Это подтверждают первые строчки и призовые места в ряде тестов, проведённых европейскими автомобильными экспертами. Специалисты как один рекомендуют шину всем автовладельцам, которые заботятся о безопасности и комфорте.
                    .prodInfo__tabOptions
                        .prodInfo__optionsTitle Технические особенности протектора Goodyear EfficientGrip Performance:
                        ul.prodInfo__optionsList
                            li.prodInfo__tabOption Вместительные дренажные колодцы в центральной зоне отводят воду из пятна контакта за мгновение.
                            li.prodInfo__tabOption Крупные боковые блоки удерживают устойчивость автомобиля при прохождении сложных поворотов.

                    .prodInfo__tabSlogan Goodyear – премиальный бред из числа лучших шинных компаний.
                
                .prodInfo__tabBlock.js-prodTabBlock
                    p.prodInfo__tabPar Летние шины <span>Goodyear EfficientGrip Performance</span> имеют высшую оценку за торможение на мокром асфальте согласно европейской маркировке. Вместе с тем очень хороши и другие свойства шины, например, сцепление с сухим дорожным полотном, скорость переставки, следование курсу и расход топлива. Это подтверждают первые строчки и призовые места в ряде тестов, проведённых европейскими автомобильными экспертами. Специалисты как один рекомендуют шину всем автовладельцам, которые заботятся о безопасности и комфорте.
                    .prodInfo__tabOptions
                        .prodInfo__optionsTitle Технические особенности протектора Goodyear EfficientGrip Performance:
                        ul.prodInfo__optionsList
                            li.prodInfo__tabOption Вместительные дренажные колодцы в центральной зоне отводят воду из пятна контакта за мгновение.
                            li.prodInfo__tabOption Крупные боковые блоки удерживают устойчивость автомобиля при прохождении сложных поворотов.

                    .prodInfo__tabSlogan Goodyear – премиальный бред из числа лучших шинных компаний.
                
                .prodInfo__tabBlock.js-prodTabBlock
                    p.prodInfo__tabPar Летние шины <span>Goodyear EfficientGrip Performance</span> имеют высшую оценку за торможение на мокром асфальте согласно европейской маркировке. Вместе с тем очень хороши и другие свойства шины, например, сцепление с сухим дорожным полотном, скорость переставки, следование курсу и расход топлива. Это подтверждают первые строчки и призовые места в ряде тестов, проведённых европейскими автомобильными экспертами. Специалисты как один рекомендуют шину всем автовладельцам, которые заботятся о безопасности и комфорте.
                    .prodInfo__tabOptions
                        .prodInfo__optionsTitle Технические особенности протектора Goodyear EfficientGrip Performance:
                        ul.prodInfo__optionsList
                            li.prodInfo__tabOption Вместительные дренажные колодцы в центральной зоне отводят воду из пятна контакта за мгновение.
                            li.prodInfo__tabOption Крупные боковые блоки удерживают устойчивость автомобиля при прохождении сложных поворотов.

                    .prodInfo__tabSlogan Goodyear – премиальный бред из числа лучших шинных компаний.
                
                .prodInfo__tabBlock.js-prodTabBlock
                    p.prodInfo__tabPar Летние шины <span>Goodyear EfficientGrip Performance</span> имеют высшую оценку за торможение на мокром асфальте согласно европейской маркировке. Вместе с тем очень хороши и другие свойства шины, например, сцепление с сухим дорожным полотном, скорость переставки, следование курсу и расход топлива. Это подтверждают первые строчки и призовые места в ряде тестов, проведённых европейскими автомобильными экспертами. Специалисты как один рекомендуют шину всем автовладельцам, которые заботятся о безопасности и комфорте.
                    .prodInfo__tabOptions
                        .prodInfo__optionsTitle Технические особенности протектора Goodyear EfficientGrip Performance:
                        ul.prodInfo__optionsList
                            li.prodInfo__tabOption Вместительные дренажные колодцы в центральной зоне отводят воду из пятна контакта за мгновение.
                            li.prodInfo__tabOption Крупные боковые блоки удерживают устойчивость автомобиля при прохождении сложных поворотов.

                    .prodInfo__tabSlogan Goodyear – премиальный бред из числа лучших шинных компаний.
                
        .prodInfo__mainLinks
            .prodInfo__linkItem
                .prodInfo__linkImg
                    //- img(src="./img/img-prod-link-1.png", alt="#")
                    span 
                        +icon('ico-helper-menu-1')
                .prodInfo__linkBtnWrap
                    a(href="#").prodInfo__linkBtn Бесплатная доставка
                .prodInfo__linkText Доставка шин в магазины "Автосеть" осуществляется бесплатно. Стоимость доставки в любой другой город составляет 12 руб.
            .prodInfo__linkItem
                .prodInfo__linkImg
                    //- img(src="./img/img-prod-link-2.png", alt="#")
                    span 
                        +icon('ico-helper-menu-4')
                .prodInfo__linkBtnWrap
                    a(href="#").prodInfo__linkBtn Доставка к сервису
                .prodInfo__linkText Мы осуществляем доставку шин в сеть собственных шинных центров. Мы даем скидку на профессиональный шиномонтаж
            .prodInfo__linkItem
                .prodInfo__linkImg
                    img(src="./img/img-prod-link-3.png", alt="#")
                    //- span 
                    //-     +icon('prod-leader')
                .prodInfo__linkBtnWrap
                    a(href="#").prodInfo__linkBtn Лидер на рынке шин
                .prodInfo__linkText Являемся лидером на рынке продажи шин в Республике Беларусь

