doctype html
include ../chunks/mixin.pug
html(lang="ru").no-js
    head
        include ../chunks/head.pug
    block body
        .page-wrapper#page-wrapper
            .page-body#page-body
                .container
                    div(style="margin-bottom: 15px;")
                        a(href="about_us_careers.html") about_us_careers
                    div(style="margin-bottom: 15px;")
                        a(href="about_us_media.html") about_us_media
                    div(style="margin-bottom: 15px;")
                        a(href="about_us_team.html") about_us_team
                    div(style="margin-bottom: 15px;")
                        a(href="about_us_testimonials.html") about_us_testimonials
                    div(style="margin-bottom: 15px;")
                        a(href="contacts.html") contacts
                    div(style="margin-bottom: 15px;")
                        a(href="helper.html") helper
                    div(style="margin-bottom: 15px;")
                        a(href="news.html") news
                    div(style="margin-bottom: 15px;")
                        a(href="news-autonews.html") news-autonews
                    div(style="margin-bottom: 15px;")
                        a(href="news-company-news.html") news-company-news
                    div(style="margin-bottom: 15px;")
                        a(href="service-singin.html") service-singin
                    div(style="margin-bottom: 15px;")
                        a(href="service-singmore.html") service-singmore
                    div(style="margin-bottom: 15px;")
                        a(href="special_offers.html") special_offers
                    div(style="margin-bottom: 15px;")
                        a(href="tire_goodyear_effgrip.html") tire_goodyear_effgrip
                    div(style="margin-bottom: 15px;")
                        a(href="tires_selection.html") tires_selection
    include ../chunks/scripts.pug
