// contacts.css

.contacts {
  padding: 29px 0 32px;
  background: url("../img/img-contacts-bg-top.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 37px;

  @media (max-width: $screen-sm-max) {
    padding: 30px 0 15px;
    position: relative;
  }
  @media (max-width: $screen-xs-max) {
    padding: 30px 0 140px;
    margin-bottom: 20px;
  }

  &__title {
    display: flex;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: "roboto", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 58px;
    color: #fff;
    @media (max-width: $screen-sm-max) {
      font-size: 44px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 28px;
    }

    > span {
      line-height: 44px;
      @media (max-width: $screen-xs-max) {
        line-height: 36px;
      }
    }
  }

  &__container {
    position: relative;

    &--bottom {
      margin-bottom: 58px;

      @media (max-width: $screen-sm-max) {
        margin-bottom: 30px;
      }
    }

    @media (max-width: $screen-sm-max) {
      position: static;
    }
  }

  &__tel {
    position: absolute;
    right: 39px;
    top: -29px;
    width: 210px;
    height: 236px;

    @media (max-width: $screen-md-max) {
      right: 0;
    }
    @media (max-width: $screen-sm-max) {
      width: 100px;
      height: 176px;
      right: 10px;
      bottom: 0;
      top: auto;
    }
    @media (max-width: $screen-xs-max) {
      right: 35px;
    }

    &--big {

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
    &--small {
      display: none;

      @media (max-width: $screen-sm-max) {
        display: block;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }


  &__wrapper {
    padding: 18px 20px 12px;
    border-left: 1px solid #fff;
  }

  &__text {
    display: block;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    max-width: 450px;
    color: #fff;
    text-align: left;

    &--quiality {
      max-width: none;
    }

    @media (max-width: $screen-sm-max) {
      max-width: none;
      width: calc(100% - 120px);
    }
    @media (max-width: $screen-xs-max) {
      max-width: none;
      width: 100%;
    }

    &--bold {
      font-weight: 700;
    }
  }

  &__info {
    margin-bottom: 42px;

    &__title {
      font-family: "roboto", sans-serif;
      font-size: 22px;
      font-weight: 700;
      color: #000;
      display: block;
      text-align: center;
      margin-bottom: 28px;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 20px;
      }

    }
  }

  &__tell-wrapper {
    padding-left: 98px;

    @media (max-width: $screen-md-max) {
      padding-left: 0;
    }

    &__item {
      display: flex;
      flex-direction: row;

      @media (max-width: $screen-md-max) {
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 21px;
      }
    }

    &__ico {
      position: relative;
      width: 20px;
      height: 20px;
      display: inline-block;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 10px;
      }

      &--nomargin {
        @media (max-width: $screen-xs-max) {
          margin-bottom: 0!important;
        }
      }

      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }

      &--car {
        width: 27px;
        height: 18px;

        @media (max-width: $screen-xs-max) {
          width: 40px;
          height: 25px;
        }

        svg {
          fill: #e2001a;
        }
      }

      &--truck {
        width: 26px;
        height: 27px;

        @media (max-width: $screen-xs-max) {
          width: 38px;
          height: 40px;
        }

        svg {
          fill: #e2001a;
        }
      }

      &--phone {
        width: 27px;
        height: 27px;

        @media (max-width: $screen-xs-max) {
          width: 40px;
          height: 39px;
        }

        svg {
          fill: #e2001a;
        }
      }
    }

    &__name {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 363px;
      @media (max-width: $screen-md-max) {
        width: auto;
        margin-bottom: 10px;
      }

      @media (max-width: $screen-xs-max) {
        flex-direction: column;
      }

      span {
        display: inline-block;
        font-family: "roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        opacity: 1;
        margin-left: 15px;

        @media (max-width: $screen-xs-max) {
          text-align: center;
          width: 100%;
          margin-left: 0;
          padding: 0 50px;
        }
      }
    }

    &__tel {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:not(:last-child) {
        margin-right: 22px;

        @media (max-width: $screen-md-max) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }

      &:hover {
        span {
          color: #666;
        }

        svg {
          opacity: .9;
        }
      }

      span {
        display: inline-block;
        font-family: "roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        margin-left: 6px;
      }
    }
  }

  &__adress-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $screen-md-max) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__adress {
    margin-bottom: 55px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 15px;
    }

    &__title {
      font-family: "roboto", sans-serif;
      font-size: 22px;
      font-weight: 700;
      color: #000;
      display: block;
      text-align: center;
      margin-bottom: 40px;

      @media (max-width: $screen-sm-max) {
        margin-bottom: 30px;
      }
      @media (max-width: $screen-xs-max) {
        margin-bottom: 20px;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% / 7);
      cursor: pointer;

      @media (max-width: $screen-md-max) {
        width: 170px;
        margin-bottom: 20px;
      }

      @media (max-width: $screen-xs-max) {
        width: 50%;
      }

      &:hover {
        svg {
          opacity: .9;
        }

        .contacts__adress__subtitle {
          color: #ff2c2c;
        }

        .contacts__adress__text {
          color: #666;
        }
      }

      span {
        display: block;
        text-align: center;
        font-family: "roboto", sans-serif;
      }
    }

    &__img {
      position: relative;
      width: 77px;
      height: 91px;
      margin-bottom: 18px;


      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 1;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
    }

    &__subtitle {
      font-size: 16px;
      color: #e2001a;
      font-weight: 700;
      margin-bottom: 2px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    &__text {
      font-size: 12px;
      color: #4c4c4c;
      font-weight: 400;
      line-height: 18px;
      white-space: nowrap;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }

  &__map {
    margin-bottom: 98px;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }


    &__title {
      font-family: "roboto", sans-serif;
      font-size: 22px;
      font-weight: 700;
      color: #000;
      display: block;
      text-align: center;
      margin-bottom: 29px;

      @media (max-width: $screen-sm-max) {
        line-height: 22px;
        padding: 0 20px;
      }
    }
  }

  &__map-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__map-block {
    height: 600px;
    width: 100%;
  }

  &__quiality {
    padding: 136px 0 48px;
    background: url("../img/img-contacts-bg-top2.jpg") no-repeat center;
    background-size: cover;
    overflow: hidden;

    @media (max-width: $screen-sm-max) {
      padding: 30px 0;
    }
  }

  &__form-title {
    display: block;
    margin-bottom: 15px;
    font-family: "roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
  }

  &__form-block {
    position: relative;
    background-color: #c8cfd5;
    border-radius: 6px;
    padding: 23px 20px 39px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 95px;
      width: 392px;
      height: 225px;
      background: url("../img/img-contacts-form.png") no-repeat center;
      background-size: 100%;
      z-index: 1;

      @media (max-width: $screen-xs-max) {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
        height: 103px;
        background: url("../img/img-contacts-form.png") no-repeat center;
        background-size: 100%;
      }
    }
  }

  &__form-label {
    display: block;
    z-index: 2;
    position: relative;

    &--select {
      z-index: 3;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 10px;
      }
    }
  }

  &__form-text {
    font-family: "roboto", sans-serif;
    text-align: right;
    display: inline-block;
    width: 113px;
    color: #4c4c4c;
    font-size: 16px;
    margin-right: 6px;


    @media (max-width: $screen-xs-max) {
      width: auto;
      margin: 0 0 5px 0;
      text-align: left;
    }

    &--textarea {
      vertical-align: top;
      margin-top: 9px;
    }
  }

  &__form-rule {
    color: #e2001a;
  }

  &__form-input {
    border-radius: 4px;
    font-family: "roboto", sans-serif;
    text-align: left;
    display: inline-block;
    width: 312px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 6px 14px;

    &--subject {
      width: calc(100% - 125px);
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  &__form-textarea {
    border-radius: 4px;
    font-family: "roboto", sans-serif;
    text-align: left;
    display: inline-block;
    width: calc(100% - 125px);
    height: 186px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 6px 14px;
    resize: none;
    overflow: hidden;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      height: 250px;
    }
  }

  &__textarea-wrapper {
    margin-bottom: 20px;
  }

  &__form-submit {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    background-color: #e2001a;
    padding: 5px 13px;
    margin-left: 124px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;

    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      background-color:  #ff2c2c;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
  }
}