a {
  text-decoration: none;
}
p, span, a {
  font-family: "roboto", sans-serif;
}
.container {
  &.wrap {
    padding-left: 35px;
    padding-right: 35px;

    @media (max-width: $screen-xs-max) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.breadcrumbs {
  background-color: #fafafa;
  padding: 17px 0 16px;

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  &__link {
    position: relative;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-right: 22px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &:hover {
      color: #666666;
    }

    &:after {
      content: '';
      position: absolute;
      pointer-events: none;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3.5px 0 3.5px 4px;
      border-color: transparent transparent transparent #000000;
      right: -14px;
      top: 5px;
    }

    &:last-child {
      color: #666666;
      pointer-events: none;
      margin-right: 0;

      &:after {
        display: none;
      }
    }

    &:first-child {
      margin-left: 24px;
    }
  }
}

.paragraph {
  &:first-letter {
    margin-left: 38px;
  }
}
label.error {
  font-family: "roboto", sans-serif;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  color: #e2001a;

  @media (max-width: $screen-xs-max) {
    margin: 5px 0 0 0;
  }
}

.page-pagination {
  margin-bottom: 18px;

  &__wrapper {
    text-align: center;
    padding-left: 28px;

    @media (max-width: $screen-xs-max) {
      padding-left: 0;
    }

    a {
      display: inline-block;
      font-family: "roboto", sans-serif;
      font-size: 22px;
      font-weight: 700;
      color: #4c4c4c;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;

      &:hover {
        color: #666;
      }

      &:not(:last-child) {
        margin-right: 28px;
      }

      &.hidden {
        visibility: hidden;
        opacity: 0;
      }

      &.active {
        color: #e2001a;
        pointer-events: none;
      }

      &.other {
        position: relative;
        top: -6px;
        pointer-events: none;
      }
    }

    &--white {
      a {
        color: #fff;

        svg {
          fill: #fff;
        }
      }
    }
  }

  &__navigation {
    position: relative;
    width: 7px;
    height: 12px;

    &:hover {

      svg {
        fill: #666666;
      }
    }

    &--prev {
      transform: rotate(180deg);
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      fill: #4c4c4c;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;


    }
  }
}


button[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.index {
  padding: 40px 0;
  display: flex;
  flex-direction: column;

  a {
    color: #e2001a;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-bottom: 5px;

    &:hover {
      color: #ff2c2c;
    }
  }
}

.jq-checkbox,
.jq-radio {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jq-checkbox input,
.jq-radio input {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.jq-file {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.jq-file input {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em;
}
.jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block;
}
.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.jq-selectbox {
  z-index: 10;
}
.jq-selectbox__select {
  position: relative;
}
.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jq-selectbox__dropdown {
  position: absolute;
}
.jq-selectbox__search input {
  -webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.jq-selectbox__dropdown ul {
  position: relative;
  //overflow: auto;
  //overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch;
}
.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.jq-number {
  display: inline-block;
}
.jq-number__field input {
  -moz-appearance: textfield;
  text-align: left; /* для Opera Presto */
}
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0; /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none;
}


.jq-checkbox,
.jq-radio {
  vertical-align: -4px;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: 0 1px 1px rgba(0,0,0,.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer;
}
.jq-checkbox.focused,
.jq-radio.focused {
  border: 1px solid #08C;
}
.jq-checkbox.disabled,
.jq-radio.disabled {
  opacity: .55;
}
.jq-checkbox {
  border-radius: 3px;
}
.jq-checkbox.checked .jq-checkbox__div {
  width: 12px;
  height: 12px;
  margin: 2px 0 0 2px;
  border-radius: 2px;
  background: #666;
  box-shadow: inset 0 -3px 6px #AAA;
}
.jq-radio {
  border-radius: 50%;
}
.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  background: #777;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.7);
}
.jq-file {
  width: 270px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.jq-file input {
  cursor: pointer;
}
.jq-file__name {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 0 80px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  box-shadow: inset 1px 1px #F1F1F1;
  font: 14px/32px Arial, sans-serif;
  color: #333;
}
.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  border-radius: 0 4px 4px 0;
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
}
.jq-file:hover .jq-file__browse {
  background: linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}
.jq-file.focused .jq-file__name {
  border: 1px solid #5794BF;
}
.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}
.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0 36px 0 0;
}
.jq-number__field {
  width: 100px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
}
.jq-number__field:hover {
  border-color: #B3B3B3;
}
.jq-number__field input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 9px;
  border: none;
  outline: none;
  background: none;
  font: 14px Arial, sans-serif;
  color: #333;
}
.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 14px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px #FFF;
  cursor: pointer;
}
.jq-number__spin.minus {
  top: auto;
  bottom: 0;
}
.jq-number__spin:hover {
  background: linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-number__spin:active {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}
.jq-number__spin:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 11px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #999;
  border-left: 5px solid transparent;
}
.jq-number__spin.minus:after {
  top: 5px;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent;
}
.jq-number__spin.minus:hover:after {
  border-top-color: #000;
}
.jq-number__spin.plus:hover:after {
  border-bottom-color: #000;
}
.jq-number.focused .jq-number__field {
  border: 1px solid #5794BF;
}
.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}
.jq-number.disabled .jq-number__spin:after {
  border-bottom-color: #AAA;
}
.jq-number.disabled .jq-number__spin.minus:after {
  border-top-color: #AAA;
}
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
}
@media (max-width: 543px) {
  .jq-selectbox {
    width: 100%;
  }
}
.jq-selectbox__select {
  border-radius: 4px;
  font-family: "roboto", sans-serif;
  text-align: left;
  display: inline-block;
  width: 312px;
  color: #000;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 6px 14px;
  height: 32px;
}
@media (max-width: 543px) {
  .jq-selectbox__select {
    width: 100%;
  }
}
.jq-selectbox__select:hover {

}
.jq-selectbox__select:active {
}
.jq-selectbox.focused .jq-selectbox__select {
}
.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}
.jq-selectbox__select-text {
  display: block;
  width: calc(100% - 20px)!important;
}
.jq-selectbox .placeholder {
  color: #888;
}
.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 18px;
  height: 10px;
  background: url("../img/svg/ico-arrow-select.svg") no-repeat center;
  background-size: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA;
}
.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  font: 14px/18px Arial, sans-serif;
}
.jq-selectbox__search {
  margin: 5px;
}
.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
}
.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}
.jq-selectbox ul {
  margin: 0;
  padding: 0;
}
.jq-selectbox li {
  font-family: "roboto", sans-serif;
  text-align: left;
  display: inline-block;
  //width: 312px;
  color: #000;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 14px;
  width: 100%;
}
.jq-selectbox li.selected {

}
.jq-selectbox li:hover {
  background-color: #ff2c2c;
  color: #FFF;
}
.jq-selectbox li.disabled {
  color: #AAA;
}
.jq-selectbox li.disabled:hover {
  background: none;
}
.jq-selectbox li.optgroup {
  font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}
.jq-selectbox li.option {
  padding-left: 25px;
}
.jq-select-multiple {
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default;
}
.jq-select-multiple.focused {
  border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}
.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}
.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
}
.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF;
}
.jq-select-multiple li.disabled {
  color: #AAA;
}
.jq-select-multiple li.optgroup {
  font-weight: bold;
}
.jq-select-multiple li.option {
  padding-left: 25px;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF;
}
input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
  padding: 8px 9px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
  font: 14px Arial, sans-serif;
  color: #333;
}
input[type='search'].styler {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea.styler {
  overflow: auto;
}
input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
  border-color: #B3B3B3;
}
input[type='email'].styler:hover:focus,
input[type='password'].styler:hover:focus,
input[type='search'].styler:hover:focus,
input[type='tel'].styler:hover:focus,
input[type='text'].styler:hover:focus,
input[type='url'].styler:hover:focus,
textarea.styler:hover:focus {
  border-color: #CCC;
  border-top-color: #B3B3B3;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
  overflow: visible;
  padding: 8px 11px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  outline: none;
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
  font: 14px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
  cursor: pointer;
}
button.styler.styler::-moz-focus-inner,
input[type='button'].styler.styler::-moz-focus-inner,
input[type='submit'].styler.styler::-moz-focus-inner,
input[type='reset'].styler.styler::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
  background: linear-gradient(#F6F6F6, #E6E6E6);
}
button.styler:active,
input[type='button'].styler:active,
input[type='submit'].styler:active,
input[type='reset'].styler:active {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}
button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

b, strong {
  font-weight: 700;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.2);
  z-index: 1000;
}


.hint {
  position: relative;
}
.hint-block {
  min-width: 250px;
  z-index: 2000;
  display: none;
  position: absolute;
  box-shadow: 0 0 6px 6px rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: 8px;
  left: 50%;
  top: 10px;
  transform: translate3d(-50%,0, 1px);
  padding: 15px;


  a {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    color: #000000;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover {
      color: #666666;
    }
  }

  &__text-left {
    text-align: left;
  }

  &--garanty {
    min-width: 186px;

    a {
      margin-top: 30px;
    }
  }

  &--price {
    min-width: 288px;
    text-align: left;
    bottom: -15px;
    top: auto;

    @media (max-width: $screen-sm-max) {
      transform: translate3d(0,0,0);
      left: 0;
    }

    @media (max-width: 360px) {
      min-width: 200px;
    }

    .hint-small-text {
      line-height: 17px;
    }
  }

  &--price2 {
    @media (max-width: 1250px) {
      transform: translate3d(0,0,0);
      left: auto;
      right: 0;
    }
  }

  &--installment {
    min-width: 250px;

    @media (max-width: 1200px) {
      transform: translate3d(0,0,0);
      left: auto;
      right: 0;
    }
  }

  &--free {
    @media (max-width: $screen-sm-max) {
      transform: translate3d(0,0,0);
      left: 0;
    }
  }

  &--weather {
    left: auto;
    right: -175px;
    top: 0;
    min-width: 156px;
    transform: translate3d(0,0,0);
  }

  &--perf {
    left: 0;
    top: 43px;
    min-width: 224px;
    transform: translate3d(0,0,0);

    @media (max-width: $screen-xs-max) {
      left: 47%;
      transform: translate3d(-50%,0, 1px);
    }

    p {
      font-size: 12px;
      line-height: 17px;
    }
  }

  &--class {
    padding: 27px 19px;
    top: 10px;
    text-align: center;
    min-width: 326px;

    @media (max-width: $screen-sm-max) {
      transform: translate3d(0,0,0);
      left: auto;
      right: 0;
    }

    @media (max-width: 360px) {
      min-width: 297px;
      padding: 27px 10px;
    }

    &__block {
      border: 1px solid #e5e5e5;
      padding: 9px 13px 13px;
    }

    &__fz22 {
      display: block;
      font-family: "roboto", sans-serif;
      color: #000000;
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 11px;
    }

    &__fz24 {
      display: inline-block;
      font-family: "roboto", sans-serif;
      color: #000000;
      font-weight: 700;
      font-size: 24px;
    }

    &__mark {
      margin: 0 16px 0 7px;
    }

    &__level {
      padding-top: 30px;
      overflow: hidden;
    }

    &__level--wrapper {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &__item {
      position: relative;
      height: 22px;
      border: 1px solid #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-right: none;
      padding: 0 1px 0 7px;

      &:before {
        position: absolute;
        content: '';
        width: 300px;
        border-top: 2px dashed #000;
        left: 0;
        top: 9px;
        z-index: -1;
      }

      &.class-1 {
        background-color: #007f01;
        width: 68%;

        .hint-block--class__triangle {
          &:after {
            border-color: transparent transparent transparent #007f01;
          }
        }
      }

      &.class-2 {
        background-color: #009802;
        width: 65%;

        .hint-block--class__triangle {
          &:after {
            border-color: transparent transparent transparent #009802;
          }
        }
      }

      &.class-3 {
        background-color: #00b202;
        width: 62%;

        .hint-block--class__triangle {
          &:after {
            border-color: transparent transparent transparent #00b202;
          }
        }
      }

      &.class-4 {
        background-color: #00db02;
        width: 59%;

        .hint-block--class__triangle {
          &:after {
            border-color: transparent transparent transparent #00db02;
          }
        }
      }

      &.class-5 {
        background-color: #00f502;
        width: 56%;

        .hint-block--class__triangle {
          &:after {
            border-color: transparent transparent transparent #00f502;
          }
        }
      }

      &.class-6 {
        background-color: #75ff77;
        width: 53%;

        .hint-block--class__triangle {
          &:after {
            border-color: transparent transparent transparent #75ff77;
          }
        }
      }

      &.class-7 {
        background-color: #a0ffa1;
        width: 50%;

        .hint-block--class__triangle {
          &:after {
            border-color: transparent transparent transparent #a0ffa1;
          }
        }
      }

      &.class-8 {
        background-color: #d5ffd6;
        width: 47%;

        .hint-block--class__triangle {
          &:after {
            border-color: transparent transparent transparent #d5ffd6;
          }
        }
      }
    }

    &__triangle {
      position: absolute;
      right: -12px;
      top: -1px;
      width: 12px;
      height: 22px;

      &:before {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 11px 0 11px 12px;
        border-color: transparent transparent transparent #000000;
      }

      &:after {
        position: absolute;
        content: '';
        z-index: 2;
        right: 1px;
        top: 1px;
        border-style: solid;
        border-width: 10px 0 10px 11px;
      }
    }

    &__name {
      display: inline-block;
      font-family: "roboto", sans-serif;
      font-weight: 700;
      font-size: 12.5px;
      color: #fff;
      text-transform: uppercase;

      &--black {
        color: #000;
      }
    }

    &__name-mark {
      display: inline-block;
      font-family: "roboto", sans-serif;
      color: #fff;
      font-weight: 400;
      font-size: 18.5px;
      text-transform: uppercase;
      text-shadow:
              -0   -1px 0   #000000,
              0   -1px 0   #000000,
              -0    1px 0   #000000,
              0    1px 0   #000000,
              -1px -0   0   #000000,
              1px -0   0   #000000,
              -1px  0   0   #000000,
              1px  0   0   #000000,
              -1px -1px 0   #000000,
              1px -1px 0   #000000,
              -1px  1px 0   #000000,
              1px  1px 0   #000000,
              -1px -1px 0   #000000,
              1px -1px 0   #000000,
              -1px  1px 0   #000000,
              1px  1px 0   #000000;
    }

    &__info {
      position: absolute;
      background-color: #e2001a;
      width: 38px;
      height: 21px;
      right: 0;
      top: 0;
      z-index: 1;
      text-align: right;
      padding-right: 5px;
      font-family: "roboto", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #fff;
      padding-top: 2px;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 0;
        border-color: transparent #e2001a transparent transparent;
      }

      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 10px 10px;
        border-color: transparent transparent #e2001a transparent;
      }
    }

    a {
      font-size: 14px;
      display: inline-block;
      margin: 15px 0 4px;
    }
  }

  &--types {
    top: -5px;
    left: 0;
    transform: translate3d(0,0,0);
    padding: 15px 21px;
  }

  &__etic-title {
    display: block;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    padding-left: 12px;
    margin-bottom: 10px;
  }

  &__etic {
    display: inline-block;
    width: 220px;
    float: left;
    margin-right: 43px;
  }

  &__etic-block {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-right: none;
    padding: 10px 8px 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__etic-info {
    display: flex;
    float: left;
    padding-top: 18px;

    @media (max-width: $screen-sm-max) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__etic-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &--ef1 {
      width: 112px;
      display: flex;
      justify-content: flex-end;
    }

    &--ef2 {
      width: calc(100% - 120px);
    }
  }

  &__epic-big-border {
    position: relative;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: 4px solid #00a2e0;
    border-bottom: none;
    width: 82px;
    height: 71px;

    &--left {
      &:before {
        position: absolute;
        content: '';
        width: 29px;
        height: 4px;
        background-color: #00a2e0;
        left: -33px;
        top: 63px;
      }
    }
  }

  &__epic-level {
    padding-top: 11px;
    padding-bottom: 11px;
    width: calc(100% - 1px);
    border-left: 1px solid #00a2e0;
    border-right: 1px solid #00a2e0;
    border-bottom: 4px solid #00a2e0;
    overflow: hidden;
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 0;


    &--good {
      width: 64px;
      height: 66px;
      left: 6px;
      top: 2px;
    }

    &--rain {
      width: 66px;
      height: 66px;
      left: 3px;
      top: 3px;
    }

    svg {
      position: absolute;
      fill: #00a2e0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__lvl-wrap {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 7px;
      border-top: 2px dashed #000;
      left: 0;
      width: 100%;
      z-index: -1;
    }

    &:not(:last-child) {
      margin-bottom: 1px;
    }

    &--2 {
      &:after {
        left: 20px;
      }
    }
  }

  &__lvl {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 16px;
    position: relative;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-right: 1px;

    &:before {
      content: '';
      z-index: 1;
      position: absolute;
      right: -8px;
      top: -1px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 8px;
      border-color: transparent transparent transparent #000000;
    }

    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      right: -7px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 0 7px 7px;
    }

    span {
      color: #fff;
      font-weight: 400;
      font-size: 13.5px;
      font-family: "roboto", sans-serif;
      text-transform: uppercase;
      text-shadow:
              -0   -1px 0   #000000,
              0   -1px 0   #000000,
              -0    1px 0   #000000,
              0    1px 0   #000000,
              -1px -0   0   #000000,
              1px -0   0   #000000,
              -1px  0   0   #000000,
              1px  0   0   #000000,
              -1px -1px 0   #000000,
              1px -1px 0   #000000,
              -1px  1px 0   #000000,
              1px  1px 0   #000000,
              -1px -1px 0   #000000,
              1px -1px 0   #000000,
              -1px  1px 0   #000000,
              1px  1px 0   #000000;
    }

    &--a {
      background-color: #01a85b;
      width: 12%;
      &:after {
        border-color: transparent transparent transparent #01a85b;
      }
    }
    &--b {
      background-color: #58b950;
      width: 17%;
      &:after {
        border-color: transparent transparent transparent #58b950;
      }
    }
    &--c {
      background-color: #c3db41;
      width: 23%;
      &:after {
        border-color: transparent transparent transparent #c3db41;
      }
    }
    &--d {
      background-color: #fff414;
      width: 30%;
      &:after {
        border-color: transparent transparent transparent #fff414;
      }
    }
    &--e {
      background-color: #ffb92c;
      width: 36%;
      &:after {
        border-color: transparent transparent transparent #ffb92c;
      }
    }
    &--f {
      background-color: #f37434;
      width: 42%;
      &:after {
        border-color: transparent transparent transparent #f37434;
      }
    }
    &--g {
      background-color: #ec3538;
      width: 48%;
      &:after {
        border-color: transparent transparent transparent #ec3538;
      }
    }
  }

  &__lvl2 {
    margin-left:6px;
    height: 16px;

    span {
      font-family: "roboto" , sans-serif;
      font-size: 13.5px;
      color: #000;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__lvl-class {
    display: none;
    position: absolute;
    right: 0;
    top: -7px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 30px;

    &.active {
      display: flex;
    }

    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 15px 15px 0;
      border-color: transparent #000000 transparent transparent;
      left: -15px;
      top: 0;
    }

    span {
      font-family: "roboto" , sans-serif;
      font-size: 30px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__noise {
    position: relative;
    display: flex;
    margin-top: 7px;
    margin-left: 32px;

    &--bigborder {
      position: relative;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      border: 4px solid #00a2e0;
      border-right: none;
      width: 82px;
      height: 74px;
    }

    &--smallborder {
      width: 89px;
      position: relative;
      border-top: 1px solid #00a2e0;
      border-bottom: 1px solid #00a2e0;
      border-right: 4px solid #00a2e0;
      padding: 0 10px 0 10px;
    }

    &--small-wrapper {
      padding-top: 2px;
      width: 63px;
      height: 30px;
      background-color: #000;
      position: absolute;
      padding-left: 4px;
      right: 0;
      top: 21px;


      span {
        font-family: "roboto" , sans-serif;
        font-size: 22px;
        color: #fff;
        font-weight: 700;
      }

      span+span {
        font-size: 16px;
        margin-left: 3px;
      }

      &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 15px 15px 0;
        border-color: transparent #000000 transparent transparent;
        left: -15px;
        top: 0;
      }
    }
  }

  &__noise-ico {
    position: absolute;
    left: 0;
    top: 0;
    width: 42px;
    height: 47px;

    svg {
      position: absolute;
      left: 6px;
      top: 10px;
      width: 100%;
      height: 100%;
      fill: #00a2e0;
    }
  }

  &__noise-lvl {
    display: none;
    position: absolute;
    left: 54px;
    top: 9px;
    width: 27px;
    height: 48px;

    &.active {
      display: block;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__flat {
    position: absolute;
    bottom: -14px;
    left: -29px;
    width: 27px;
    height: 19px;

    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    span {
      display: inline-block;
      position: absolute;
      left: 32px;
      bottom: -1px;
      font-family: "roboto" , sans-serif;
      font-size: 8px;
      color: #000;
      width: 65px;
    }
  }

  &__etic-info-item {
    width: 195px;

    &:not(:last-child) {
      margin-right: 19px;
    }
  }

  &__etic-info-title {
    position: relative;
    width: 76px;
    height: 80px;
    margin-bottom: 14px;

    &--noise {
      width: 49px;
      height: 54px;
      margin-top: 23px;
      margin-bottom: 19px;

      span {
        top: 15px!important;
        left: 62px !important;
      }
    }

    &--rain{
      span {
        left: 67px!important;
      }
    }

    svg {
      position: absolute;
      fill: #00a2e0;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
    }

    span {
      display: inline-block;
      width: 112px;
      position: absolute;
      left: 58px;
      top: 39px;
      font-family: "roboto" , sans-serif;
      font-size: 14px;
      line-height: 17px;
      color: #000;
      font-weight: 700;
    }
  }

  &__etic-info-text {
    font-family: "roboto" , sans-serif;
    font-size: 13px!important;
    line-height: 16px!important;
    color: #000;
    font-weight: 400!important;
  }
}

.tiresList__option .hint-block {
  left: -22px;
  top: 0;

  @media (max-width: $screen-md-max) {
    left: 50%;
  }
}

.tiresList__option .hint-block--installment {
  @media (max-width: 1200px) {
    left: auto;
    right: 0;
    transform: translate3d(0,0,0);
  }
}

.tiresList__option .hint-block--free {
  @media (max-width: $screen-md-max) {
    left: 0;
    transform: translate3d(0,0,0);
  }
}




.hint-small-text {
  display: block;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  color: #000;
}
.hint-title {
  display: block;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.5px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.js-hint {
  cursor: pointer;
}
.hint-block {
  cursor: default;
}